.events_page {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 110px;
    background: #fff;
    .holder {
        padding: 30px 0;
        h2 {
            text-align: center;
            color: #38ADA2;
            text-transform: uppercase;
        }
        .separator {
            background-color: #E8E8E8;
            display: block;
            font-size: 20px;
            font-weight: 600;
            margin: 2.5em 0 0;
            padding: 6px 10px;
            color: #000000;
            opacity: 0.5;
            span {
                padding-left: 10px;
            }
        }
    }
}