.events_page {
    .holder {
        padding: 30px 0px;
        h2 {
            text-align: center;
            color: #38ADA2;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
        }
        .separator {
            background-color: #E8E8E8;
            display: block;
            font-size: 20px;
            font-weight: 600;
            margin: 2.5em 0 0;
            padding: 6px 10px;
            color: #000000;
            opacity: 0.5;
            border-radius: 5px;
            span {
                padding-left: 10px;
            }
        }
        .upcoming-events {
            margin-top: 30px;
            .events {
                border-radius: 10px;
                box-shadow: 0px 0px 10px #00000029;
                background: #FFF;
                .image-section {
                    padding: 10px;
                    img {
                        border: 1px solid #C9C9C9;
                        width: 100%;
                        height: auto;
                        border-radius: 10px 0px 0px 10px;
                    }
                }
                .data-section {
                    margin-top: 20px;
                    padding-left: 15px;
                    h4 {
                        font-size: 20px;
                        font-weight: 600;
                        color: #38ADA2;
                        a {
                            color: #38ADA2;
                        }
                    }
                    .data {
                        padding: 5px 0px;
                        img {
                            margin-right: 10px;
                        }
                        .heading {
                            font-size: 16px;
                            color: #B8B8B8;
                        }
                        .value {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
                .btn {
                    font-size: 16px;
                    background: #DB422D;
                    border-radius: 6px;
                    color: #f6f8f9;
                    width: 137px;
                    height: 40px;
                    letter-spacing: 0;
                    line-height: 25px;
                    &:hover {
                        background: #38ADA2;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .events_page {
        .holder {
            .upcoming-events {
                .events {
                    .data-section {
                        padding-left: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .events_page {
        .holder {
            .upcoming-events {
                .events {
                    .col-4 {
                        max-width: 100%;
                        flex: 100%;
                    }
                    .image-section {
                        img {
                            border-radius: 10px;
                        }
                    }
                    .col-8 {
                        max-width: 100%;
                        flex: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .events_page {
        .holder {
            .upcoming-events {
                .events {
                    .col-8 {
                        padding: 15px;
                    }
                    .data-section {
                        .col-7 {
                            max-width: 100%;
                            flex: 100%;
                        }
                        .col-5 {
                            max-width: 100%;
                            flex: 100%;
                        }
                    }
                }
            }
        }
    }
}