.login_page {
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  // padding-top: 150px;
  padding-bottom: 100px;
  background: #fff;
  .title {
    margin: 5% 0 2% 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000;
    opacity: 1;
    text-align: center;
    display: block;
  }
  .reset_password {
    font-size: 40px;
    text-align: center;
    padding-bottom: 70px;
  }
  .login_inner_Container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .form-group {
      margin-bottom: 1.5rem!important;
      position: relative;
    }
    .form-holder input {
      margin-bottom: 24px;
    } 
    .form-holder input {
      font-size: 30px;
      width: 100%;
      height: 90px;
      border: 1px solid #00000052;
      border-radius: 10px;
      padding: 12px 100px;
      outline: none;
      &:hover {
        border: 1px solid #00000052;
      }
    }
    .form-holder .input_icon {
      position: absolute;
      width: 75px;
      height: 75px;
      padding: 13px;
      margin: 6px 0 0 10px;
    }
    .form-group .floating_label {
      position: absolute;
      font-size: 30px;
      top: 25px;
      left: 100px;
      background-color: #fff;
      transition: all .3s;
      font-weight: 600;
      color: rgba(0,0,0,.5) !important;
    }
    .form-group .input-area:hover + .floating_label {
      top: -15px;
      padding: 0 3px;
      font-size: 24px;
      background-color: #fff;
    }
    .form-group .input-area:focus + .floating_label {
      top: -15px;
      padding: 0 3px;
      font-size: 24px;
      background-color: #fff;
    }
    .form-group .input-area:valid  + .floating_label {
      top: -15px;
      padding: 0 3px;
      font-size: 24px;
      background-color: #fff;
    }
    .form-holder {
      .upLabel {
        position: absolute;
        pointer-events: none;
        font-size: 30px;
        top: 25px;
        left: 100px;
        background-color: #fff;
        transition: all .3s;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5) !important;
      }
      .upInputs input:focus~.upLabel,
      .upInputs input:not(:placeholder-shown)~.upLabel {
        top: -15px;
        padding: 0 3px;
        font-size: 24px;
        background-color: #fff;
      }
      .upInputs input:hover~.upLabel,
      .upInputs input:not(:placeholder-shown)~.upLabel {
        top: -15px;
        padding: 0 3px;
        font-size: 24px;
        background-color: #fff;
      }
      .upInputs input:valid~.upLabel,
      .upInputs input:not(:placeholder-shown)~.upLabel {
        top: -15px;
        padding: 0 3px;
        font-size: 24px;
        background-color: #fff;
      }
    }
    .forgotP_container {
      font-size: 30px;
      text-align: right;
      margin-bottom: 40px;
      margin-top: -15px;
      a {
        color: #31A99F;
      }
    }
    .passwrd-height {
      text-align: left;
      padding-bottom: 20px;
      .password-strength {
        font-style: italic;
        width: 100%;
        display: block;
        color: #ff0000;
        font-weight: bolder;
      }
      .strong {
        color: #26A69A !important;
      }
    }
    .btn {
      font-size: 35px;
      background: #DB422D;
      border-radius: 6px;
      color: #f6f8f9;
      width: 450px;
      height: 90px;
      letter-spacing: 0;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background: #38ADA2;
      }
    }
    .reset_btn {
      margin-top: 15px;
    }
    .create_account {
      border: 2px solid #31A99F;
      background: none;
      color: #31A99F;
      line-height: 2.2;
      &:hover {
        color: #fff;
      }
    }
    .login_devider {
      width: 100%;
      height: 1px;
      margin: 55px 0;
      background-color: rgba(0,0,0,.5);
      opacity: 0.8;
      span {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 16px;
        letter-spacing: 0;
        color: rgba(0,0,0,.5);
        display: inline-block;
        vertical-align: top;
        background: #fff;
        padding: 0 23px;
        margin-top: -8px;
      }
    }
  }
}

.ActivateAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  .email-verification-success-msg {
    margin: 100px 0px 0px 0px;
    h4 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .btn {
      font-size: 18px;
      background: #DB422D;
      border-radius: 6px;
      padding: 8px 20px;
      color: #f6f8f9;
      letter-spacing: 0;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background: #38ADA2;
      }
    }
  }
  .email-verification-failed-msg {
    margin: 100px 0px 0px 0px;
    h4 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .btn {
      font-size: 18px;
      background: #DB422D;
      border-radius: 6px;
      padding: 8px 20px;
      color: #f6f8f9;
      letter-spacing: 0;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background: #38ADA2;
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  .login_page {
    // padding-top: 100px !important;
    .title {
      font-size: 30px;
    }
    .reset_password {
      font-size: 20px;
      padding-bottom: 30px;
    }
    .login_inner_Container {
      max-width: 450px;
      .form-holder input {
        margin-bottom: 0px;
      }
      .form-holder input {
        height: auto;
        font-size: 14px;
        border-radius: 4px;
        padding: 12px 50px;
      }
      .form-holder .input_icon {
        width: 35px;
        height: 35px;
        padding: 5px;
        margin: 5px;
      }
      .form-group .floating_label {
        font-size: 14px;
        top: 14px;
        left: 50px;
      }
      .form-group .input-area:hover + .floating_label {
        top: -9px;
        padding: 0 3px;
        font-size: 12px;
      }
      .form-group .input-area:focus + .floating_label {
        top: -9px;
        padding: 0 3px;
        font-size: 12px;
      }
      .form-group .input-area:valid  + .floating_label {
        top: -9px;
        padding: 0 3px;
        font-size: 12px;
      }
      .form-holder {
        .upLabel {
          font-size: 14px;
          top: 14px;
          left: 50px;
        }
        .upInputs input:focus~.upLabel,
        .upInputs input:not(:placeholder-shown)~.upLabel {
          top: -9px;
          padding: 0 3px;
          font-size: 12px;
        }
        .upInputs input:hover~.upLabel,
        .upInputs input:not(:placeholder-shown)~.upLabel {
          top: -9px;
          padding: 0 3px;
          font-size: 12px;
        }
        .upInputs input:valid~.upLabel,
        .upInputs input:not(:placeholder-shown)~.upLabel {
          top: -9px;
          padding: 0 3px;
          font-size: 12px;
        }
      }
      .forgotP_container {
        margin-bottom: 30px;
        margin-top: -10px;
        font-size: 14px;
      }
      .btn {
        font-size: 18px;
        width: 257px;
        height: 50px;
      }
      .create_account {
        line-height: 2;
      }
      .login_devider {
        margin: 32px 0;
        span {
          font-size: 14px;
        }
      }
    }
  }
}