#planmatrix-tooltip-insightsheet {
	.arrow::before {
		border-right-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 330px;
		height: 65px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-coli {
	.arrow::before {
		border-right-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 330px;
		height: 105px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-training {
	.arrow::before {
		border-right-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 330px;
		height: 165px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-macro {
	left: 1px !important;
	.arrow::before {
		border-right-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 330px;
		height: 85px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-aitc {
	left: 1px !important;
	.arrow::before {
		border-right-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 330px;
		height: 145px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-swag {
	left: 1px !important;
	.arrow::before {
		border-right-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 330px;
		height: 65px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 85px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive1 {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 65px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive2 {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 125px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive3 {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 105px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive4 {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 225px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive5 {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 190px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}
#planmatrix-tooltip-responsive6 {
	.arrow::before {
		border-bottom-color: #313131;
	}
	.tooltip-inner {
		background-color: #313131;
		max-width: 240px;
		height: 210px;
		padding: 10px;
		a {
			color: #38ADA2;
		}
	}
}

.Plan_Matrix {
	.holder {
		padding: 30px 0px;
		h2 {
			text-align: center;
			color: #38ADA2;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 600;
		}
	}
	.FilterPlans {
		text-align: center;
		.subs_filters {
			margin: 0px auto 30px;
			list-style: none;
			background: #fff 0% 0%;
			box-shadow: 0px 3px 6px #00000029;
			border-radius: 6px;
			width: 483px;
			padding: 5px 0px;
			li {
				display: inline-block;
				vertical-align: middle;
				border-radius: 6px;
				text-align: center;
				font-size: 25px;
				font-weight: 500;
				letter-spacing: 0px;
				color: #B8B8B8;
				opacity: 1;
				width: 234px;
				height: 79px;
				padding: 20px 0px;
				cursor: pointer;
				position: relative;
				background: #fff;
				span {
					display: block;
					margin-top: -5px;
					font-size: 14px;
				}
			}
			.active {
				background: #26a59a;
				color: #fff;
				border-color: #26a59a;
			}
		}
	}
	.Matrix {
		background: #fff;
		box-shadow: 0px 0px 6px #0000004A;
		border-radius: 5px;
		.row {
			margin: 0px auto;
		}
		.col-4 {
			padding: 0px;
		}
		.col-2 {
			padding: 0px;
		}
		.col-3 {
			padding: 0px;
		}
		.h {
			background: #fafafa;
			border-radius: 5px 5px 0px 0px;
			border-right: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			h4 {
				margin-bottom: 0px;
				padding: 40px 20px;
				font-size: 15px;
				font-weight: bold;
			}
			h3 {
				font-size: 10px;
				text-transform: uppercase;
				color: #fff;
				background: #38ADA2;
				padding: 8px;
				border-radius: 0px 0px 5px 5px;
				margin: 0px 30px;
			}
		}
		.features {
			background: #fff;
			border-right: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			h5 {
				margin-bottom: 0px;
				font-size: 12px;
				padding: 20px;
				height: 54px;
			}
			.ep {
				padding: 14px 20px;
			}
		}
		.designation {
			background: #fff;
			border-right: 1px solid #e9e9e9;
			min-height: 250px;
			h5 {
				margin-bottom: 0px;
				font-size: 12px;
				padding: 15px 20px 0px 18px;
				font-style: italic;
			}
		}
		.bc {
			background: #fff;
			border-right: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			text-align: center;
			.bc_3 {
				padding: 3px 0px;
			}
			.bc_4 {
				padding: 3px 25px;
			}
			img {
				width: auto;
				height: 54px;
				padding: 20px;
			}
			p {
				color: #38ADA2;
				padding: 15px 0px;
				margin-bottom: 0px;
				.amount {
					font-size: 13px;
					font-weight: 500;
				}
				.month {
					font-size: 13px;
					font-weight: 400;
				}
				.data {
					font-size: 13px;
					font-weight: 500;
				}
				.ActiveSessions {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
		.dc {
			background: #fff;
			border-right: 1px solid #e9e9e9;
			text-align: center;
			min-height: 250px;
			font-family: "Montserrat", sans-serif;
			p {
				color: #38ADA2;
				padding: 20px;
				margin: 0px;
				.amount {
					font-size: 28px;
					font-weight: 500;
				}
				.month {
					font-size: 14px;
					font-weight: 400;
					}
				.outer {
					display: inline;
					vertical-align: super;
					font-size: 16px;
					margin: 0px 5px 0px 0px;
					color: #D23F2B;
					text-decoration: line-through;
					.inner {
						color: #38ADA2;
					}
				}
				.annually {
					font-size: 14px;
					color: #B8B8B8;
				}
			}
			.buy {
				padding-bottom: 30px;
				.btn {
					font-family: "Raleway", sans-serif;
					font-size: 14px;
					background: #fff;
					border-radius: 6px;
					border-color: #DB422D;
					color: #DB422D;
					width: 132px;
					height: 40px;
					letter-spacing: 0;
					line-height: 26px;
					&:focus {
						box-shadow: none;
					}
					&:hover {
						background: #DB422D;
						color: #fff;
					}
				}
				.non-hover {
					background: #DB422D;
					color: #fff;
				}
				.non-hover-for-sub-user {
					&:hover {
						background: #fff;
						color: #DB422D;
					}
				}
			}
			.contact-us {
				padding: 35px 0px 25px 0px;
				.btn {
					background: #fff;
					color: #DB422D;
					font-size: 14px;
					font-weight: 500;
					line-height: 24px;
					border: 1px solid #DB422D;
					border-radius: 4px;
					width: 131px;
					height: 92px;
					&:focus {
						box-shadow: none;
					}
					&:hover {
						background: #DB422D;
						color: #fff;
					}
				}
				.non-hover {
					background: #DB422D;
					color: #fff;
				}
			}
			.preferred {
				color: #B8B8B8;
				font-size: 12px;
				font-weight: 600;
			}
			.preferred_plan {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 10px;
				img {
					max-width: 100%;
					width: 70px;
					height: 25px;
					margin-right: 5px;
				}
			}
			.subscription_msg {
				font-size: 12px;
				font-weight: 500;
				font-style: italic;
				color: #DB422D;
				padding: 10px;
			}
		}
		.dk {
			border-left: 1px solid #e9e9e9;
			margin-left: -1px;
		}
	}
	.Enterprise_Plan {
		.col {
			padding: 0px;
		}
		.dc {
			border-left: 1px solid #e9e9e9;
			margin-left: -1px;
			min-height: 0px;
			padding: 30px 0px;
			span {
				font-size: 19px;
				font-weight: 500;
				color: #38ADA2;
			}
			.buy {
				margin-top: 20px;
				padding-bottom: 0px;
				.btn {
					width: auto;
				}
			}
		}
	}
	.Matrix_Responsive {
		.sub-plan {
			display: none;
		}
		.most-popular-plan-title {
			display: none;
		}
	}
	.Request-a-call {
		margin: 20px 0px 0px 0px;
		background: #38ADA2;
		border-radius: 5px;
		padding: 25px;
		height: 92px;
		h1 {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin: 0px;
			font-size: 20px;
			color: #fff;
		}
		.btn {
			font-size: 14px;
			background: #fff;
			border-radius: 6px;
			border-color: #38ADA2;
			color: #38ADA2;
			width: 132px;
			height: 40px;
			letter-spacing: 0;
			line-height: 26px;
			&:focus {
				box-shadow: none;
			}
		}
	}
}

.Worry-free-sign-up {
	margin: -50px 0px 50px 0px;
	background: #D3EDEB;
	text-align: center;
	padding: 0px 0px 100px 0px;
	h1 {
		font-size: 30px;
		font-weight: 600;
		color: #38ADA2;
		margin: 0px;
		padding: 40px 0px;
	}
	.row {
		display: inline-flex;
	}
	.Worry-free-sign-up-seections {
		background: #FFF;
		box-shadow: 0px 0px 6px #00000029;
		border-radius: 5px;
		width: 385px;
		padding: 25px 20px;
		text-align: center;
		margin: 0px 10px;
		h5 {
			font-size: 25px;
			font-weight: 600;
			color: #DB422D;
		}
		p {
			font-size: 20px;
			font-weight: 500;
			color: #000;
			margin: 0px;
		}
	}
}

@media screen and (max-width: 1700px) {
	.Plan_Matrix {
		.Matrix {
			.bc {
				.bc_1 {
					padding: 3px 50px;
				}
				.bc_2 {
					padding: 3px 35px;
				}
				.bc_4 {
					padding: 3px 25px;
					line-height: 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.Plan_Matrix {
		.Matrix {
			.bc {
				.bc_1 {
					padding: 3px 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.Plan_Matrix {
		.Matrix {
			display: none;
		}
		.Enterprise_Plan {
			display: block;
		}
		.Matrix_Responsive {
			a {
				text-decoration: none;
				cursor: pointer;
			}
			.most-popular-plan-title {
				display: block;
				margin-bottom: -3px;
				position: relative;
				z-index: 1;
				h4 {
					text-align: center;
					background-color: #26A69A;
					color: white;
					padding: 10px;
					margin-bottom: 0px;
				}
			}
			.sub-plan {
				position: relative;
				display: table;
				width: 100%;
				border: 2px solid #cccccc;
				padding: 0;
				margin-bottom: 20px;
				.cp_p_col_2 {
					display: table-cell;
					width: 200px;
					height: 300px;
					vertical-align: middle;
					float: none !important;
					.cp_p_p {
						font-size: 19px;
						line-height: 1.3em;
						font-weight: 600;
						color: #000;
						margin-bottom: 0;
					}
					.current-plan {
						font-size: 15px;
						font-weight: 600;
						width: 120px;
						margin: 10px auto 0px auto;
						padding: 10px;
						color: #fff;
						background-color: #26A69A;
						border-radius: 6px;
					}
					.subscription_msg {
						color: #DB422D;
						font-size: 12px;
						font-weight: 500;
						font-style: italic;
						margin: 10px auto 0px auto;
					}
					p {
						color: #38ADA2;
						margin-bottom: 0px;
						margin-right: 5px;
						font-family: "Montserrat", sans-serif;
						.amount {
							font-size: 30px;
							font-weight: 500;
						}
						.month {
							font-size: 14px;
							font-weight: 400;
						}
						.outer {
							display: inline;
							vertical-align: super;
							font-size: 18px;
							margin: 0px 5px 0px 0px;
							color: #D23F2B;
							text-decoration: line-through;
							.inner {
								color: #38ADA2;
							}
						}
						.annually {
							font-size: 14px;
							color: #B8B8B8;
						}
					}
					.contact-us {
						text-align: center;
						.btn {
							background: #fff;
							color: #DB422D;
							font-size: 14px;
							font-weight: 500;
							line-height: 24px;
							border: 1px solid #DB422D;
							border-radius: 4px;
							width: 131px;
							height: 92px;
						}
					}
					.preferred {
						color: #B8B8B8;
						font-size: 12px;
						font-weight: 600;
						text-align: center;
						margin-top: 10px;
					}
					.preferred_plan {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 10px;
						img {
							max-width: 100%;
							width: 60px;
							height: 20px;
							margin-right: 5px;
						}
					}
				}
				.cp_p_col_8 {
					display: table-cell;
					height: 270px;
					vertical-align: middle;
					float: none !important;
					padding: 10px 15px;
					.plan_matrix_des {
						color: #777777;
						margin: 0;
						font-size: 14px;
					}
				}
				.check_icon {
					display: none;
					position: absolute;
					top: 50%;
					color: #fff;
					font-size: 16px;
					background-color: #000;
					width: 40px;
					line-height: 40px;
					z-index: 9;
					transform: translateY(-50%);
					padding: 0px!important;
					text-align: center;
					border-radius: 50%;
					left: -20px;
					background: #26A69A;
				}
			}
			.wcm_active {
				border: 2px solid #26A69A;
				padding: 0;
				.check_icon {
					display: block;
				}
			}
		}
		.Request-a-call {
			margin: 20px 0px 60px 0px;
		}
	}
	.Worry-free-sign-up {
		padding: 0px 0px 90px 0px;
		h1 {
			padding: 40px 0px 30px 0px;
		}
		.row {
			display: inline-flex;
			flex-direction: column;
			margin: 0px 10px;
		}
		.Worry-free-sign-up-seections {
			margin: 15px 0px;
			padding: 15px;
			width: 300px;
		}
	}
}

@media screen and (max-width: 991px) {
	.Plan_Matrix {
		.Request-a-call {
			text-align: center;
			padding: 20px 20px 40px 20px;
			height: auto;
			h1 {
				line-height: 1.5;
			}
			.btn {
				margin-top: 30px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.Plan_Matrix {
		.Matrix_Responsive {
			.most-popular-plan-title h4 {
				width: calc(100% - 10px);
				margin: 0px auto;
			}
			.sub-plan {
				width: calc(100% - 10px);
				margin: 0 auto 20px;
				.cp_p_col_2 {
					display: block;
					height: auto;
					width: auto;
					padding: 15px;
				}
				.cp_p_col_8 {
					display: block;
					height: auto;
					padding: 15px;
					.plan_matrix_des {
						text-align: center;
						font-size: 13px;
					}
				}
			}
		}
		.Request-a-call {
			margin: 20px 5px 60px 5px;
			padding: 20px 15px 40px 15px;
		}
	}
}

@media screen and (max-width: 550px) {
	.Plan_Matrix {
		.FilterPlans {
			.subs_filters {
				width: 278px;
				li {
					font-size: 18px;
					width: 134px;
					height: 70px;
					span {
						margin-top: -3px;
					}
				}
			}
		}
		.Enterprise_Plan {
			.h {
				h4 {
					padding: 20px 15px;
					font-size: 14px;
				}
			}
			.features {
				h5 {
					font-size: 10px;
					padding: 10px 5px;
					height: 50px;
				}
			}
			.bc {
				img {
					height: 50px;
				}
				.bc_3 {
					padding: 1px 0px;
				}
				p {
					.data {
						font-size: 10px;
					}
				}
			}
			.dc {
				padding: 20px 10px;
				span {
					font-size: 15px;
				}
				.buy {
					.btn {
						font-size: 12px;
						height: auto;
						line-height: 20px;
					}
				}
			}
		}
	}
}