.PLUS_OM {
    .holder {
        padding: 30px 0px;
        h2 {
            text-align: center;
            color: #38ADA2;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
        }
    }
    .youtube_video {
        text-align: center;
        .video {
            background: #fff;
            box-shadow: 0px 3px 13px #00000029;
            padding: 15px;
            width: 100%;
            margin: auto;
            .fluid-width-video-wrapper {
                width: 100%;
                position: relative;
                padding: 0;
                padding-top: 56.25%;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .changes {
        margin-top: 60px;
        h2 {
            text-align: left;
            color: #38ADA2;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 18px;
            color: #000;
            text-align: left;
        }
        .change_list {
            ul {
                padding-left: 20px;
                li {
                    font-size: 18px;
                    color: #38ADA2;
                    a {
                        color: #38ADA2;
                        &:hover {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                    &::marker {
                        color: #38ADA2;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}