.signup_page {
  padding-top: 220px !important;
  .signup_header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px -2px grey;
    padding: 60px 180px 70px;
    position: relative;
    margin-bottom: 65px;
    &::after {
      content: "";
      display: block;
      width: 210px;
      height: 210px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("../../assets/signup.png");
      border-radius: 50%;
      background-size: 90%;
      padding: 14px;
      top: 80px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
    .container-fluid {
      padding-left: 50px;
      padding-right: 50px;
    }
    .signUp_actions {
      cursor: pointer;
      width: 100%;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-between;
        li {
          img {
            width: 65px;
          }
        }
      }
    }
  }
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
  .signup_holder {
    text-align: center;
    padding: 150px 0 0 0;
    h2 {
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 0;
      color: #000;
      opacity: 1;
      text-transform: uppercase;
      margin-bottom: 100px;
    }
    .signup_inner_Container {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .form-group {
      margin-bottom: 1.5rem!important;
      position: relative;
    }
    .form-holder input {
      margin-bottom: 24px;
    } 
    .form-holder input {
      font-size: 30px;
      width: 100%;
      height: 90px;
      border: 1px solid #00000052;
      border-radius: 10px;
      padding: 12px 100px;
      outline: none;
      &:hover {
        border: 1px solid #00000052;
      }
    }
    .form-holder .input_icon {
      position: absolute;
      width: 75px;
      height: 75px;
      padding: 13px;
      margin: 6px 0 0 10px;
    }
    .form-group .floating_label {
      position: absolute;
      font-size: 30px;
      top: 25px;
      left: 100px;
      background-color: #fff;
      transition: all .3s;
      font-weight: 600;
      color: rgba(0,0,0,.5) !important;
    }
    .form-group .input-area:hover + .floating_label {
      top: -15px;
      padding: 0 3px;
      font-size: 24px;
      background-color: #fff;
    }
    .form-group .input-area:focus + .floating_label {
      top: -15px;
      padding: 0 3px;
      font-size: 24px;
      background-color: #fff;
    }
    .form-group .input-area:valid  + .floating_label {
      top: -15px;
      padding: 0 3px;
      font-size: 24px;
      background-color: #fff;
    }
    .SignupStepTwo {
      input {
        padding: 12px 30px;
      }
      .floating_label {
        left: 30px;
      }
    }
    .btn {
      font-size: 35px;
      background: #db422d;
      border-radius: 6px;
      color: #f6f8f9;
      width: 450px;
      height: 90px;
      letter-spacing: 0;
      margin-top: 50px;
      &:hover {
        background: #31a99f;
      }
    }
    .login_devider {
      width: 100%;
      height: 1px;
      margin-top: 80px;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0.8;
      .one {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 16px;
        letter-spacing: 0;
        color: rgba(0, 0, 0, 0.5);
        display: inline-block;
        vertical-align: top;
        background: #fff;
        padding: 0 5px 0px 23px;
        margin-top: -8px;
      }
      .two {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 16px;
        letter-spacing: 0;
        color: #31a99f;
        display: inline-block;
        vertical-align: top;
        background: #fff;
        padding-right: 23px;
        margin-top: -8px;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .SignupStepFour {
      padding: 10px;
      text-align: left;
      border: 1px solid #00000052;
      border-radius: 5px;
      opacity: 1;
      background: #fff;
      .radio-custom {
        opacity: 0;
        position: absolute;
      }
      .radio-custom,
      .radio-custom-label {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
        font-size: 50px;
      }
      .radio-custom-label {
        position: relative;
      }
      .radio-custom + .radio-custom-label:before {
        content: "";
        background: #fff;
        border: 1px solid #adadad;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        padding: 2px;
        margin: 15px 20px 15px 15px;
        text-align: center;
      }
      .radio-custom:checked + .radio-custom-label:before {
        background: #26a59a;
        box-shadow: inset 0px 0px 0px 4px #fff;
        border: 2px solid #26a59a;
      }
    }
    .new_border {
      border: 1px solid #26a59a;
    }
    .SignupStepFive {
      max-width: 1000px;
      margin: 30px auto;
      .form-group {
        input[type="checkbox"] {
          height: 25px;
          width: 25px;
        }
      }
      .text-left {
        margin-bottom: 0px !important;
      }
      .terms {
        font-size: 27px;
        margin-left: 15px;
      }
    }
  }
}

@media screen and (max-width: 2560px) {
  .signup_page
    .signup_holder
    .SignupStepFour
    .radio-custom
    + .radio-custom-label:before {
    width: 40px;
    height: 40px;
  }
  .signup_holder .SignupStepFour .radio-custom,
  .signup_page .signup_holder .SignupStepFour .radio-custom-label {
    font-size: 40px;
  }
}

@media screen and (max-width: 1920px) {
  .signup_page {
    padding-top: 130px !important;
    .signup_header {
      padding: 20px 0 25px 80px;
      &::after {
        width: 110px;
        height: 110px;
        top: 25px;
      }
      .signUp_actions {
        ul {
          li {
            img {
              width: auto;
            }
          }
        }
      }
    }
    .signup_holder {
      padding: 40px 0 0 0;
      h2 {
        font-size: 30px;
        margin-bottom: 40px;
      }
      .signup_inner_Container {
        max-width: 450px;
      }
      .form-holder input {
        margin-bottom: 0px;
      }
      .form-holder input {
        height: auto;
        font-size: 14px;
        border-radius: 4px;
        padding: 12px 50px;
      }
      .form-holder .input_icon {
        width: 35px;
        height: 35px;
        padding: 5px;
        margin: 5px;
      }
      .form-group .floating_label {
        font-size: 14px;
        top: 14px;
        left: 50px;
      }
      .form-group .input-area:hover + .floating_label {
        top: -9px;
        padding: 0 3px;
        font-size: 12px;
      }
      .form-group .input-area:focus + .floating_label {
        top: -9px;
        padding: 0 3px;
        font-size: 12px;
      }
      .form-group .input-area:valid  + .floating_label {
        top: -9px;
        padding: 0 3px;
        font-size: 12px;
      }
      .SignupStepTwo {
        max-width: 900px;
        input {
          padding: 12px 15px;
        }
        .floating_label {
          left: 15px;
        }
      }
      .SignupStepThree {
        .input_icon {
          width: 30px;
          height: 35px;
          padding: 5px;
          margin: 5px;
        }
      }
      .btn {
        font-size: 18px;
        width: 257px;
        height: 50px;
        margin-top: 20px;
      }
      .login_devider {
        margin-top: 40px;
        .one {
          font-size: 14px;
        }
        .two {
          font-size: 14px;
        }
      }
      .SignupStepFour {
        padding: 3px;
        .radio-custom,
        .radio-custom-label {
          font-size: 1rem;
        }
        .radio-custom-label {
          position: relative;
        }
        .radio-custom + .radio-custom-label:before {
          width: 20px;
          height: 20px;
          margin: 10px;
        }
      }
      .SignupStepFive {
        max-width: 464px;
        .checkbox-one {
          margin-top: -20px;
          input[type="checkbox"] {
            visibility: hidden;
          }
          label {
            cursor: pointer;
            font-weight: 500;
            font-size: 12px;
          }
          input[type="checkbox"] + label:before {
            border: 1px solid #000;
            background: #fff;
            border-radius: 3px;
            content: "\00a0";
            display: inline-block;
            font-size: 11px;
            height: 15px;
            width: 15px;
            margin: 0px 10px 0 -35px;
            padding: 0;
            vertical-align: top;
          }
          input[type="checkbox"]:checked + label:before {
            border: 1px solid #38ADA2;
            background: #38ADA2;
            color: #fff;
            content: "\2713";
            text-align: center;
          }
        }
        .checkbox-two {
          margin-top: -20px;
          input[type="checkbox"] {
            visibility: hidden;
          }
          label {
            cursor: pointer;
            font-weight: 500;
            font-size: 12px;
          }
          input[type="checkbox"] + label:before {
            border: 1px solid #000;
            background: #fff;
            border-radius: 3px;
            content: "\00a0";
            display: inline-block;
            font-size: 11px;
            height: 15px;
            width: 15px;
            margin: 0px 10px 0 -222px;
            padding: 0;
            vertical-align: top;
          }
          input[type="checkbox"]:checked + label:before {
            border: 1px solid #38ADA2;
            background: #38ADA2;
            color: #fff;
            content: "\2713";
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .signup_page .signup_holder .SignupStepFour .radio-custom,
  .signup_page .signup_holder .SignupStepFour {
    .radio-custom-label {
      font-size: 10px;
    }
    .radio-custom + .radio-custom-label:before {
      width: 10px;
      height: 10px;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 767px) {
  .signup_page {
    .signup_header {
      padding: 20px 0 25px 15px;
      .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: 490px) {
  .signup_page .signup_holder .SignupStepFive {
    .checkbox-one input[type="checkbox"] + label:before {
      margin: 0 10px 0px 0px;
    }
    .checkbox-two input[type="checkbox"] + label:before {
      margin: 0 10px 0px 0px;
    }
  }
}
