.Training_Modules {
    .holder {
        padding: 30px 0;
        text-align: center;
        h2 {
            color: #38ADA2;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            padding-bottom: 10px;
        }
        h3 {
            font-size: 20px;
        }
        .below {
            padding-top: 10px;
        }
    }
    hr {
        margin-top: 1rem;
        margin-bottom: 3rem;
        border: 0;
        border-top: 1px solid #ccc;
    }
    .Xactimate_Estimating_Training {
        h2 {
            color: #38ADA2;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
        }
    }
    .Mitigation {
        padding-top: 40px;
        h3 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;
        }
        .mitigation_border {
            background: #fff;
            box-shadow: 0px 0px 10px #00000029;
            border-radius: 10px;
            margin-bottom: 30px;
            iframe {
                width: 100%;
                height: 480px;
                border-radius: 28px !important;
                padding: 20px;
            }
        }
    }
    .uc {
        padding-top: 20px;
        text-align: center;
        .btn {
            font-size: 16px;
            background: #DB422D;
            border-radius: 6px;
            color: #f6f8f9;
            width: 220px;
            height: 50px;
            letter-spacing: 0;
            line-height: 35px;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                background: #38ADA2;
            }
        }
    }
}