.insightsheet {
  background: #eeeff4;
  .col-3 {
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1;
  }
  .col-9 {
    padding-left: 0px;
    padding-right: 0px;
    z-index: 0;
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .insightsheet-section {
    margin: 100px !important;
    background: #fff;
    box-shadow: 0px 1px 15px #45414e14;
    border-radius: 4px;
    .col-3 {
      padding-left: 15px;
      padding-right: 15px;
      z-index: unset;
    }
    .col-9 {
      padding-left: 15px;
      padding-right: 15px;
      z-index: unset;
    }
    .header {
      padding: 40px 30px 30px 30px;
      .heading {
        font-size: 45px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        padding-top: 15px;
      }
      .page_icon {
        width: 60px;
        height: 60px;
        opacity: 1;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin-right: 21px;
        img {
          width: 60px;
          height: auto;
        }
      }
      .btn {
        font-size: 38px;
        font-weight: 500;
        background: #db422d;
        border-radius: 10px;
        color: #f6f8f9;
        width: 450px;
        height: 100px;
        letter-spacing: 0;
        line-height: 80px;
        &:focus {
          box-shadow: none;
        }
        img {
          margin-right: 15px;
          width: 35px;
        }
      }
      .back {
        padding-top: 10px;
        display: inline-block;
        img {
          width: 40px;
          margin-right: 30px;
          margin-bottom: 5px;
        }
        .bk {
          margin-right: 50px;
          font-size: 40px;
          color: #26a59a;
          font-weight: 600;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 4px solid rgba(0, 0, 0, 0.1);
    }
    .inner_sub_area {
      padding: 30px 30px 0 0px;
      .col-8 {
        border-bottom: 4px solid rgba(0, 0, 0, 0.1);
      }
      .subs_filters {
        padding: 0;
        margin: 0 0 0 40px;
        list-style: none;
        li {
          display: inline-block;
          vertical-align: middle;
          border: 3px solid #ebedf2;
          border-radius: 20px 20px 0px 0px;
          text-align: center;
          font-size: 38px;
          font-weight: 500;
          letter-spacing: 0px;
          color: #000;
          opacity: 0.6;
          padding: 20px 0px;
          cursor: pointer;
          position: relative;
          background: #fff;
          width: 400px;
        }
        .active {
          background: #26a59a;
          opacity: 1;
          color: #fff;
          border-color: #26a59a;
        }
      }
      .form-group {
        margin-bottom: 0px !important;
        position: relative;
        .input-group {
          margin-left: 30%;
          background: #fff;
          border: 1.7px solid rgba(0, 0, 0, 0.32157);
          border-radius: 5px;
          opacity: 0.6;
          display: flex;
          height: 93px;
          width: 70%;
        }
        .input_icon {
          width: 80px;
          height: 80px;
          padding: 20px;
          margin: 5px 0 0 10px;
        }
        input {
          border: none;
          background-color: rgba(0, 0, 0, 0);
          text-align: left;
          font-weight: 300;
          font-size: 38px;
          line-height: 16px;
          letter-spacing: 0;
          color: #000;
          height: 88px;
          background: #fff !important;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    .table-section {
      .table {
        thead {
          tr {
            th {
              border: none;
              img {
                width: 18px;
              }
            }
          }
        }
      }
      .bktables {
        width: 100%;
        height: auto;
        overflow: auto;
        background-color: #ffffff;
        th {
          font-size: 35px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 4;
          letter-spacing: 1px;
          text-align: center;
          color: #000;
          padding: 0px 0px 0px 0px;
        }
        td {
          border-top: 4px solid rgba(0, 0, 0, 0.1);
          padding: 0px 0px 0px 0px;
          font-size: 32px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 5;
          letter-spacing: 1px;
          text-align: center;
          color: #4d4d4d;
          img {
            width: 50px;
            cursor: pointer;
          }
          .rating {
            .fa-star {
              width: 60px;
              height: 60px;
              font-size: 60px;
              cursor: pointer;
            }
            .fa-star-half-alt {
              width: 60px;
              height: 60px;
              font-size: 60px;
              cursor: pointer;
            }
          }
        }
        tr:last-child {
          td:not(:last-child) {
            border-bottom: 4px solid rgba(0, 0, 0, 0.1);
          }
          td:last-child {
            border-bottom: 4px solid rgba(0, 0, 0, 0.1);
          }
        }

        .status_tb {
          display: inline-block;
          vertical-align: middle;
          .status_draft {
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            color: #deb201;
            background: #fcf7e5;
            border-radius: 4px;
            width: 86px !important;
            height: 27px;
            text-align: center;
          }
          .status_published {
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            color: #26a59a;
            background: #e9f6f5;
            border-radius: 4px;
            width: 86px !important;
            height: 27px;
            text-align: center;
          }
          .status_outofstock {
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            color: #dc5252;
            background: #fbeded;
            border-radius: 4px;
            width: 86px !important;
            height: 27px;
            text-align: center;
          }
        }
      }
      .pagination {
        width: 100%;
        .btn {
          font-size: 30px;
          background: #fff;
          border-radius: 8px;
          color: #000;
          width: 70px;
          height: 70px;
          letter-spacing: 0;
          line-height: 0px;
          font-family: "Poppins", sans-serif;
          &:focus {
            box-shadow: none;
          }
        }
        .mt-3 {
          text-align: right;
        }
        .active {
          background: #26a59a;
          color: #fff;
        }
        select {
          font-family: "Poppins", sans-serif;
          font-size: 30px;
          width: 200px;
          height: 70px;
          background: #f4f5f8;
          border-radius: 10px;
          padding-left: 15px;
          border: none;
          box-shadow: none;
          option {
            font-size: 10px;
          }
        }
        span {
          font-size: 35px;
          font-family: "Poppins", sans-serif;
          color: #575962;
        }
      }
    }
  }
}

@media screen and (max-width: 3647px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    font-size: 37px;
    width: 350px;
  }
}

@media screen and (max-width: 3246px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    font-size: 36px;
    width: 320px;
  }
}

@media screen and (max-width: 3007px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    font-size: 35px;
    width: 300px;
  }
}

@media screen and (max-width: 2846px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    font-size: 30px;
    width: 250px;
  }
}

@media screen and (max-width: 3000px) {
  .insightsheet .insightsheet-section .table-section .bktables {
    th {
      padding: 0px 0px 0px 70px;
    }
    td {
      padding: 0px 0px 0px 70px;
    }
  }
}

@media screen and (max-width: 2800px) {
  .insightsheet .insightsheet-section .table-section .bktables {
    th {
      padding: 0px 0px 0px 50px;
      font-size: 32px;
    }
    td {
      padding: 0px 0px 0px 50px;
      font-size: 30px;
      line-height: 4;
    }
  }
  .insightsheet .insightsheet-section .header .btn {
    width: 400px;
  }
}

@media screen and (max-width: 2560px) {
  .insightsheet {
    .insightsheet-section {
      margin: 50px !important;
      background: #fff;
      box-shadow: 0px 1px 15px #45414e14;
      border-radius: 4px;
      .header {
        padding: 40px 30px 30px 30px;
        .heading {
          font-size: 40px;
        }
        .page_icon {
          width: 50px;
          height: auto;
          img {
            width: 50px;
            height: auto;
          }
        }
        .btn {
          font-size: 34px;
          width: 350px;
        }
        .back {
          padding-top: 15px;
          img {
            width: 35px;
          }
          .bk {
            font-size: 35px;
          }
        }
      }
      .inner_sub_area {
        padding: 20px 20px 0 0px;
        .subs_filters {
          margin: 0 0 0 30px;
          li {
            font-size: 25px;
            width: 250px;
          }
        }
        .form-group {
          .input-group {
            margin-left: 20%;
            height: 85px;
            width: 80%;
          }
          .input_icon {
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 15px 0 0 10px;
          }
          input {
            font-size: 25px;
            height: 80px;
          }
        }
      }
      .table-section {
        .table {
          thead {
            tr {
              th {
                border: none;
                img {
                  width: 15px;
                }
              }
            }
          }
        }
        .bktables {
          th {
            font-size: 30px;
            padding: 0px 30px 0px 50px;
          }
          td {
            padding: 0px 30px 0px 50px;
            font-size: 28px;
            img {
              width: 40px;
            }
            .rating {
              .fa-star {
                width: 40px;
                height: 40px;
                font-size: 40px;
              }
              .fa-star-half-alt {
                width: 40px;
                height: 40px;
                font-size: 40px;
              }
            }
          }
        }
        .pagination {
          width: 100%;
          .btn {
            font-size: 25px;
            width: 50px;
            height: 50px;
          }
          .mt-3 {
            margin-top: -5px !important;
          }
          select {
            font-size: 30px;
            width: 100px;
            height: 50px;
          }
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 2280px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    font-size: 24px;
    width: 220px;
  }
}

@media screen and (max-width: 2040px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    font-size: 22px;
    width: 200px;
  }
}

@media screen and (max-width: 2230px) {
  .insightsheet .insightsheet-section .table-section .bktables {
    th {
      padding: 0px 30px 0px 40px;
      font-size: 27px;
    }
    td {
      padding: 0px 20px 0px 40px;
      font-size: 27px;
    }
  }
  .insightsheet .insightsheet-section .header .btn {
    width: 300px;
  }
}

@media screen and (max-width: 2100px) {
  .insightsheet .insightsheet-section .table-section .bktables {
    th {
      padding: 0px 20px 0px 40px;
      font-size: 25px;
    }
    td {
      padding: 0px 20px 0px 40px;
      font-size: 25px;
    }
  }
  .insightsheet .insightsheet-section .header .btn {
    width: 300px;
  }
}

@media screen and (max-width: 1920px) {
  .insightsheet {
    .insightsheet-section {
      margin: 30px !important;
      .header {
        padding: 30px 20px 10px 10px;
        .heading {
          font-size: 20px;
          padding-top: 10px;
        }
        .page_icon {
          margin-right: 10px;
          width: 25px;
          height: auto;
          img {
            width: 25px;
            height: auto;
          }
        }
        .btn {
          font-size: 16px;
          border-radius: 5px;
          width: 160px;
          height: 45px;
          line-height: 30px;
          img {
            width: 15px;
            margin-right: 10px;
          }
        }
        .back {
          padding-top: 5px;
          img {
            width: 20px;
            margin-right: 15px;
            margin-bottom: 2px;
          }
          .bk {
            margin-right: 10px;
            font-size: 20px;
            color: #26a59a;
            font-weight: 600;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }
      .inner_sub_area {
        padding: 20px 20px 0 0px;
        .col-8 {
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
        .subs_filters {
          margin: 0 0 0 20px;
          li {
            border: 2px solid #ebedf2;
            border-radius: 10px 10px 0px 0px;
            text-align: center;
            font-size: 15px;
            letter-spacing: 0px;
            padding: 12px 0px;
            width: 180px;
          }
        }
        .form-group {
          .input-group {
            margin-left: 10%;
            height: 47px;
            width: 90%;
          }
          .input_icon {
            width: 18px;
            height: 18px;
            padding: 0px;
            margin: 14px 0 0 15px;
          }
          input {
            font-size: 15px;
            height: 42px;
            padding-top: 10px;
          }
        }
      }
      .table-section {
        .table {
          thead {
            tr {
              th {
                border: none;
                img {
                  width: 12px;
                }
              }
            }
          }
        }
        .bktables {
          th {
            font-size: 20px;
            padding: 0px 20px 0px 40px;
          }
          td {
            border-top: 2px solid rgba(0, 0, 0, 0.1);
            padding: 0px 20px 0px 40px;
            font-size: 20px;
            img {
              width: 30px;
            }
            .rating {
              .fa-star {
                width: 30px;
                height: 30px;
                font-size: 30px;
              }
              .fa-star-half-alt {
                width: 30px;
                height: 30px;
                font-size: 30px;
              }
            }
          }
          tr:last-child {
            td:not(:last-child) {
              border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            }
            td:last-child {
              border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            }
          }
        }
        .pagination {
          width: 100%;
          .btn {
            border-radius: 4px;
            font-size: 20px;
            width: 40px;
            height: 40px;
          }
          .mt-3 {
            margin-top: -5px !important;
          }
          select {
            font-size: 20px;
            width: 100px;
            height: 50px;
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1810px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    width: 170px;
  }
}

@media screen and (max-width: 1567px) {
  .insightsheet .insightsheet-section .inner_sub_area .subs_filters li {
    width: 140px;
  }
}

@media screen and (max-width: 1640px) {
  .insightsheet .insightsheet-section .table-section .bktables {
    th {
      font-size: 14px;
    }
    td {
      font-size: 14px;
      .rating {
        .fa-star {
          width: 20px;
          height: 20px;
          font-size: 20px;
        }
        .fa-star-half-alt {
          width: 20px;
          height: 20px;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .insightsheet {
    .insightsheet-section {
      margin: 20px !important;
      .header {
        padding: 20px 10px 10px 10px;
        .heading {
          font-size: 18px;
          padding-top: 10px;
        }
        .page_icon {
          margin-right: 10px;
          width: 21px;
          img {
            width: 21px;
          }
        }
        .btn {
          font-size: 14px;
          border-radius: 5px;
          width: 150px;
          height: 40px;
          line-height: 25px;
          img {
            margin-right: 10px;
            width: 15px;
          }
        }
        .back {
          padding-top: 8px;
          img {
            width: 14px;
            margin-right: 10px;
            margin-bottom: 2px;
          }
          .bk {
            margin-right: 10px;
            font-size: 14px;
            color: #26a59a;
            font-weight: 600;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }
      .inner_sub_area {
        padding: 20px 20px 0 0px;
        .col-8 {
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
        .subs_filters {
          margin: 0 0 0 20px;
          li {
            border-radius: 5px 5px 0px 0px;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0px;
            padding: 10px 0px;
            width: 140px;
          }
        }
        .form-group {
          .input-group {
            margin-left: 10%;
            height: 44px;
            width: 90%;
          }
          .input_icon {
            width: 18px;
            height: 18px;
            padding: 0px;
            margin: 11px 0 0 10px;
          }
          input {
            font-size: 14px;
            height: 37px;
          }
        }
      }
      .table-section {
        .table {
          thead {
            tr {
              th {
                border: none;
                img {
                  width: 10px;
                }
              }
            }
          }
        }
        .bktables {
          th {
            padding: 0px 10px 0px 30px;
          }
          td {
            padding: 0px 10px 0px 30px;
            img {
              width: 20px;
            }
          }
        }
        .pagination {
          width: 100%;
          .btn {
            border-radius: 4px;
            font-size: 20px;
            width: 40px;
            height: 40px;
          }
          .mt-3 {
            margin-top: -5px !important;
          }
          select {
            font-size: 20px;
            width: 100px;
            height: 50px;
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .insightsheet .insightsheet-section .table-section .pagination {
    margin: 20px 0px !important;
    .btn {
      font-size: 14px;
      width: 34px;
      height: 30px;
    }
    select {
      font-size: 14px;
      width: 80px;
      height: 40px;
    }
    span {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1330px) {
  .insightsheet .insightsheet-section .inner_sub_area {
    padding: 20px 0px 0 0px;
    .col-8 {
      flex: 100%;
      max-width: 100%;
    }
    .col-4 {
      flex: 100%;
      max-width: 100%;
    }
    .subs_filters {
      text-align: center;
      margin: 0px;
      li {
        width: 145px;
        padding: 10px 0px;
      }
    }
    .form-group {
      margin-top: 10px;
      .input-group {
        margin-left: 50%;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .insightsheet .insightsheet-section .header .btn {
    font-size: 13px;
    width: 130px;
    img {
      margin-right: 7px;
      width: 12px;
    }
  }
}

@media screen and (max-width: 920px) {
  .insightsheet .insightsheet-section .inner_sub_area {
    .subs_filters {
      li {
        width: 120px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .insightsheet .insightsheet-section {
    .header {
      .heading {
        font-size: 16px;
      }
      .page_icon {
        width: 18px;
        margin-right: 5px;
        img {
          width: 18px;
        }
      }
      .btn {
        font-size: 12px;
        width: 120px;
        height: 35px;
        line-height: 20px;
        img {
          margin-right: 5px;
          width: 10px;
        }
      }
      .back {
        padding-top: 4px;
        img {
          width: 12px;
          margin-right: 7px;
        }
        .bk {
          font-size: 12px;
        }
      }
    }
    .inner_sub_area .form-group {
      .input-group {
        margin-left: 50%;
        height: 40px;
        width: 50%;
      }
      .input_icon {
        width: 14px;
        height: 14px;
        padding: 0px;
        margin: 11px 0 0 10px;
      }
      input {
        font-size: 12px;
        height: 35px;
        padding-left: 7px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .insightsheet .insightsheet-section .table-section {
    .table {
      thead {
        tr {
          th {
            img {
              width: 8px;
            }
          }
        }
      }
    }
    .bktables {
      th {
        padding: 0px 0px 0px 20px;
        font-size: 12px;
      }
      td {
        padding: 0px 0px 0px 20px;
        font-size: 12px;
        .rating {
          .fa-star {
            width: 17px;
            height: 17px;
            font-size: 17px;
          }
          .fa-star-half-alt {
            width: 17px;
            height: 17px;
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .insightsheet .insightsheet-section .table-section .pagination {
    margin: 0px !important;
    .col-6 {
      flex: 100%;
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .btn {
      font-size: 12px;
      width: 30px;
      height: 25px;
    }
    select {
      font-size: 12px;
      width: 60px;
      height: 30px;
    }
    span {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 910px) {
  .insightsheet {
    .insightsheet-section {
      .header {
        .heading {
          font-size: 15px;
        }
        .btn {
          font-size: 11px;
          width: 110px;
          height: 35px;
          line-height: 22px;
          img {
            width: 10px;
          }
        }
      }
      .table-section {
        .table {
          thead {
            tr {
              th {
                img {
                  width: 6px;
                }
              }
            }
          }
        }
        .bktables {
          th {
            padding: 0px 0px 0px 10px;
            font-size: 10px;
          }
          td {
            padding: 0px 0px 0px 10px;
            font-size: 10px;
            img {
              width: 15px;
            }
            .rating {
              .fa-star {
                width: 15px;
                height: 15px;
                font-size: 15px;
              }
              .fa-star-half-alt {
                width: 15px;
                height: 15px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
