.products {
  background: #eeeff4;
  .col-3 {
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1;
  }
  .col-9 {
    padding-left: 0px;
    padding-right: 0px;
    z-index: 0;
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .products-section {
    margin: 100px !important;
    background: #fff;
    box-shadow: 0px 1px 15px #45414e14;
    border-radius: 4px;
    .header {
      padding: 40px 30px 30px 30px;
      width: 100%;
      .heading {
        font-size: 45px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        padding-top: 15px;
      }
      .page_icon {
        width: 60px;
        height: 60px;
        opacity: 1;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin-right: 21px;
        img {
          width: 60px;
          height: auto;
        }
      }
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 4px solid rgba(0, 0, 0, 0.1);
      width: 100%;
    }
    .inner_sub_area {
      padding: 30px;
      width: 100%;
      .products-data {
        margin-bottom: 20px;
        .data {
          width: 31%;
          margin-right: 35px;
          padding: 0px;
          box-shadow: 0px 6px 9px #00000029;
          border-radius: 10px;
          .data-image-one {
            img {
              width: 150px;
              height: 150px;
            }
          }
          .data-text {
            margin-left: 50px;
            margin-top: 30px;
            width: 60%;
            h3 {
              font-size: 35px;
              font-weight: 700;
              color: #000;
            }
            h4 {
              font-size: 32px;
              font-weight: 700;
              color: #000;
              opacity: 0.5;
            }
          }
          .data-image-two {
            margin-top: 50px;
            img {
              width: 60px;
              height: 60px;
            }
          }
        }
        .row-margin {
          width: 100%;
          margin-top: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 3400px) {
  .products .products-section .inner_sub_area {
    padding: 30px 30px 0px 30px;
    width: 100%;
    .products-data {
      .data {
        width: 47%;
        margin-bottom: 60px;
        .data-text {
          width: 70%;
        }
      }
      .row-margin {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 3100px) {
  .products .products-section .inner_sub_area {
    .products-data {
      .data {
        .data-text {
          width: 67%;
        }
      }
    }
  }
}

@media screen and (max-width: 2900px) {
  .products .products-section .inner_sub_area {
    .products-data {
      .data {
        .data-text {
          width: 65%;
        }
      }
    }
  }
}

@media screen and (max-width: 2560px) {
  .products {
    .products-section {
      margin: 50px !important;
      .header {
        padding: 40px 30px 30px 30px;
        .heading {
          font-size: 40px;
        }
        .page_icon {
          width: 50px;
          height: auto;
          img {
            width: 50px;
            height: auto;
          }
        }
      }
      .inner_sub_area {
        padding: 20px;
        .products-data {
          margin-bottom: 20px;
          .data {
            width: 31%;
            margin-right: 35px;
            padding: 0px;
            box-shadow: 0px 6px 9px #00000029;
            border-radius: 10px;
            margin-bottom: 40px;
            .data-image-one {
              img {
                width: 100px;
                height: 100px;
              }
            }
            .data-text {
              margin-left: 40px;
              margin-top: 20px;
              width: 60%;
              h3 {
                font-size: 25px;
                font-weight: 700;
                color: #000;
              }
              h4 {
                font-size: 22px;
                font-weight: 700;
                color: #000;
                opacity: 0.5;
              }
            }
            .data-image-two {
              margin-top: 30px;
              img {
                width: 40px;
                height: 40px;
              }
            }
          }
          .row-margin {
            width: 100%;
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 2350px) {
  .products .products-section .inner_sub_area {
    padding: 20px 20px 0px 20px;
    width: 100%;
    .products-data {
      .data {
        width: 47%;
        margin-bottom: 40px;
        .data-text {
          width: 70%;
        }
      }
      .row-margin {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 2100px) {
  .products .products-section .inner_sub_area {
    .products-data {
      .data {
        .data-text {
          width: 67%;
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  .products {
    .products-section {
      margin: 30px !important;
      .header {
        padding: 25px 20px 5px 10px;
        .heading {
          padding-top: 10px;
          font-size: 20px;
        }
        .page_icon {
          width: 25px;
          height: auto;
          margin-right: 10px;
          img {
            width: 25px;
            height: auto;
          }
        }
      }
      hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }
      .inner_sub_area {
        padding: 20px 20px 0px 20px;
        .products-data {
          margin-bottom: 20px;
          .data {
            width: 31%;
            margin-right: 20px;
            padding: 0px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 6px;
            margin-bottom: 30px;
            .data-image-one {
              img {
                width: 75px;
                height: 75px;
              }
            }
            .data-text {
              margin-left: 25px;
              margin-top: 20px;
              width: 62%;
              h3 {
                font-size: 16px;
                margin-bottom: 5px;
              }
              h4 {
                font-size: 12px;
              }
            }
            .data-image-two {
              margin-top: 20px;
              img {
                width: 30px;
                height: 30px;
              }
            }
          }
          .row-margin {
            width: 100%;
            margin-top: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  .products {
    .products-section {
      .inner_sub_area {
        .products-data {
          .data {
            .data-text {
              width: 60%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .products .products-section .inner_sub_area {
    padding: 20px 20px 0px 20px;
    .products-data {
      .data {
        width: 47%;
        margin-bottom: 20px;
        .data-text {
          width: 70%;
        }
      }
      .row-margin {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 67%;
  }
}

@media screen and (max-width: 1366px) {
  .products {
    .products-section {
      margin: 20px !important;
      .header {
        padding: 20px 10px 3px 10px;
        .heading {
          font-size: 18px;
        }
        .page_icon {
          width: 21px;
          height: auto;
          margin-right: 10px;
          img {
            width: 21px;
            height: auto;
          }
        }
      }
      .inner_sub_area {
        padding: 10px 20px 0px 20px;
        .products-data {
          margin-bottom: 10px;
          .data {
            width: 32%;
            margin-right: 10px;
            padding: 0px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 6px;
            .data-image-one {
              img {
                width: 64px;
                height: 62px;
              }
            }
            .data-text {
              margin-left: 17px;
              margin-top: 15px;
              width: 60%;
              h3 {
                font-size: 14px;
              }
              h4 {
                font-size: 10px;
              }
            }
            .data-image-two {
              margin-top: 20px;
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          .row-margin {
            width: 100%;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .products
    .products-section
    .inner_sub_area
    .products-data
    .data
    .data-text
    h3 {
    font-size: 13px;
  }
}

@media screen and (max-width: 1250px) {
  .products {
    .products-section {
      .header {
        padding: 20px 10px 0px 10px;
      }
      .inner_sub_area {
        padding: 10px 10px 10px 15px;
        .products-data {
          margin-bottom: 0px;
          .data {
            width: 45%;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 0px;
            .data-image-one {
              img {
                width: 64px;
                height: 62px;
              }
            }
            .data-text {
              margin-left: 17px;
              width: 68%;
              h3 {
                font-size: 13px;
              }
              h4 {
                font-size: 10px;
              }
            }
            .data-image-two {
              margin-top: 20px;
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          .row-margin {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    margin-left: 15px;
    width: 65%;
  }
}

@media screen and (max-width: 1050px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 63%;
  }
}

@media screen and (max-width: 1024px) {
  .products .products-section {
    .header {
      .heading {
        font-size: 16px;
      }
      .page_icon {
        width: 18px;
        margin-right: 5px;
        img {
          width: 18px;
        }
      }
    }
    .inner_sub_area {
      padding: 10px 0px 10px 15px;
      .products-data .data {
        width: 48%;
        margin-right: 10px;
        .data-image-one img {
          width: 50px;
          height: 50px;
        }
        .data-text {
          margin-top: 10px;
          width: 70%;
          h3 {
            font-size: 13px;
            margin-bottom: 2px;
          }
        }
        .data-image-two {
          margin-top: 10px;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 69%;
  }
}

@media screen and (max-width: 900px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 68%;
  }
}

@media screen and (max-width: 870px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 67%;
    h3 {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 840px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 66%;
  }
}

@media screen and (max-width: 800px) {
  .products .products-section .inner_sub_area {
    .products-data .data .data-text {
      width: 65%;
    }
  }
}

@media screen and (max-width: 768px) {
  .products .products-section .inner_sub_area .products-data .data .data-text {
    width: 63%;
  }
}
