// Navbar

@use "./Navbar";

// Home Page

@use "./Main";

// Progress Circle

@use "./ProgressCircle";

// Modal Video

@use "./modal-video";

// Footer

@use "./Footer";

// Main Search

@use "./Search";

// Global Search

@use "./GlobalSearch";

// Comments

@use "./Comments";

// Receipt

@use "./Receipt";

// Zora-Solidifai

@use "./Zora-Solidifai";

// Code of Ethics

@use "./CodeOfEthics";

// Contact Us

@use "./ContactUs";

// Demo

@use "./Demo";

// MediaKit

@use "./MediaKit";

// Missing Pages

@use "./missingpages";

// Hubspot Form

@use "./HubspotForm";

// React Image Lightbox

@use "./react-image-lightbox";

// React Responsive Carousel

@use "./carousel.min";

// React Slick

@use "./slick-theme";
@use "./slick";

// Pages
@use "./loader";
@use "./pages/login";
@use "./pages/signup";
@use "./pages/events";
@use "./pages/eventsdetail";
@use "./pages/insightsheet";
@use "./pages/insightsheetdetail";
@use "./pages/product";
@use "./pages/buyproduct";
@use "./pages/pricelistupdatesummary";
@use "./pages/pricelistupdatesummaryofmonth";
@use "./pages/insighterreport";
@use "./pages/videogallery";
@use "./pages/trainingmodules";
@use "./pages/matterportstandards";
@use "./pages/commonlyoverlookedlineitems";
@use "./pages/solidifai_zora";
@use "./pages/lineitemrequest";
@use "./pages/swag";
@use "./pages/giftcards";
@use "./pages/planmatrix";
@use "./pages/umpiresmanual";
@use "./pages/myaccount";
@use "./pages/users";
@use "./pages/insighterpoints";
@use "./pages/transactionhistory";
@use "./pages/actionableacademy";
@use "./pages/CancelSubscription";

// Admin Side Menu

@use "./gi-team/SideMenu";

// Admin Pages

@use "./gi-team/pages/admin-login";
@use "./gi-team/pages/dashboard";
@use "./gi-team/pages/admin-insightsheet";
@use "./gi-team/pages/createInsightSheet";
@use "./gi-team/pages/products";
@use "./gi-team/pages/admin-pricelistupdatesummary";

// Admin Text Editor

@use "./gi-team/react-draft-wysiwyg";

// Admin Confirm Alert

@use "./gi-team/react-confirm-alert";

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #38ADA2;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}