.slider-section {
  padding-top: 120px;
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .carousel-inner {
    img {
      width: 100%;
      height: 100%;
    }
    .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 30%;
      left: 10%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      .container {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .side-text {
        margin: 0;
        max-width: 60%;
        text-align: left;
        h2 {
          margin: 0;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
          line-height: normal;
          text-transform: uppercase;
        }
        h1 {
          margin: 0;
          font-size: 50px;
          font-weight: bold;
          color: #fff;
          line-height: normal;
          text-transform: uppercase;
        }
        p {
          font-size: 18px;
          margin-bottom: 25px;
          color: #fff;
          line-height: normal;
        }
        .slider-btn {
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          background-color: #dd4124;
          border-radius: 5px;
          height: auto;
          line-height: 1.5;
          padding: 5px 20px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .video-link {
        float: right;
        width: 45%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 70px;
        right: -80px;
        a {
          display: block;
          position: relative;
          text-align: center;
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            border: 10px solid #fff;
            max-height: 270px;
            object-fit: cover;
          }
        }
        i {
          cursor: pointer;
          position: absolute;
          left: 0;
          right: 0;
          top: calc(50% - 40px);
          display: flex;
          font-size: 40px;
          color: #fff;
          width: 80px;
          height: 80px;
          background-color: rgba(0,0,0,.5);
          border-radius: 100%;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
        }
      }
    }
  }
}

.section-1 {
  .discover_section {
    background: #26A69A;
    border-radius: 5px;
    .text-left{
      padding: 17px 0 17px 70px;
      line-height: 2rem;
    }
    .text-right {
      padding: 17px 70px 17px 0px;
    }
    .one {
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 500;
      color: #fff;
    }
    .two {
      font-size: 14px;
      color: #fff;
    }
    .btn {
      color: #26A69A;
      background-color: #fff;
      font-size: 16px;
      font-weight: 500;
      border: 2px solid #fff;
      border-radius: 6px;
      line-height: 26px;
      margin-top: 10px;
      width: 126px;
      height: 40px;
      &:focus {
        box-shadow: none;
      }
    }
    .btn_1 {
      margin-right: 26px;
    }
  }
}

.section-2 {
  .DAES_section {
    margin-top: 100px;
    h2 {
      text-align: center;
      color: #26A69A;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
    }
    h5 {
      margin-top: 15px;
      text-align: center;
      align-items: center;
      font-size: 20px;
      font-weight: normal;
    }
    .section2 {
      margin-top: 60px;
      margin-left: 0px;
      img {
        box-shadow: 0px 0px 12px #00000029;
        border-radius: 100px;
        padding: 10px;
        max-width: 100%;
        width: 100px;
        height: 100px;
      }
      h5 {
        margin-top: 30px;
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        line-height: 1.3;
      }
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.Templates_section {
  margin-top: 75px;
  padding-bottom: 100px;
  background: #FBFBFB;
  h2 {
    padding-top: 70px;
    text-align: center;
    color: #26A69A;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
  h5 {
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    
  }
  .sub_section {
    margin-top: 100px;
    margin-left: 0px;
    .section1 {
      max-width: 28%;
      h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
      }
      hr {
        width: 65px;
        border-top: 1px solid #000000;
      }
      .section1_1 {
        margin-top: 50px;
        background: #f5d6d2;
        border-radius: 20px;
        text-align: center;
        img {
          padding: 15px;
          width: 100%;
          height: auto;
        }
        .mg {
          font-size: 18px;
          font-weight: 500;
          padding-bottom: 15px;
        }
      }
    }
    .section2 {
      margin-left: 3%;
      max-width: 40%;
      h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
      }
      hr {
        width: 57px;
        border-top: 1px solid #000000;
      }
      .section2_2 {
        margin-top: 50px;
        background: #d3edeb;
        border-radius: 20px;
        text-align: center;
        img {
          padding: 15px;
          width: 100%;
          height: auto;
        }
      }
    }
    .section3 {
      margin-left: 3%;
      max-width: 28%;
      h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
      }
      hr {
        width: 58px;
        border-top: 1px solid #000000;
      }
      .section3_3 {
        margin-top: 50px;
        background: #d3edeb;
        border-radius: 20px;
        text-align: center;
        img {
          padding: 15px;
          width: 100%;
          height: auto;
        }
        .mg {
          font-size: 18px;
          font-weight: 500;
          padding-bottom: 15px;
        }
      }
    }
  }
}

.Upcoming_Events {
  background: #D3EDEB;
  border-radius: 50px;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #26A69A;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
}

.Manual_section {
  margin-top: 100px;
  background: #fff;
  .manual {
    h2 {
      text-align: left;
      color: #26A69A;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
    }
    .text-1 {
      margin-top: 20px;
      font-size: 18px;
      color: #000;
      font-weight: 500;
    }
    .text-2 {
      line-height: 40px;
    }
    .BTN {
      margin-top: 60px;
      .btn {
        color: #fff;
        background-color: #26A69A;
        font-size: 16px;
        font-weight: 500;
        border-radius: 6px;
        width: 240px;
        height: 50px;
        line-height: 35px;
      }
      .btn_1 {
        margin-right: 30px;
      }
    }
  }
  .Top {
    margin-top: 70px;
  }
  .manual-picture {
    .carousel-border {
      background: #fff;
      border-radius: 20px;
      box-shadow: 0px 3px 38px #0000001C;
      padding: 20px;
      .carousel-inner {
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
    }
  }
}

.Membership_Swag {
  margin-top: 100px;
  background: #D3EDEB;
  border-radius: 50px;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #26A69A;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
  .Products {
    border-radius: 15px;
    background: #e2f3f2;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: inline-block;
    .product-img {
      width: auto;
      height: auto;
      padding: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .product-text {
      margin-top: 10px;
      h3 {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .product-btn {
      margin-top: 30px;
      .btn {
        background: #DB422D;
        border-radius: 6px;
        color: #f6f8f9;
        font-size: 16px;
        width: 155px;
        height: 40px;
        letter-spacing: 0;
        line-height: 25px;
      }
    }
  }
  .View_More {
    text-align: center;
    margin-top: 50px;
    .btn {
      background: #26A59A;
      border-radius: 6px;
      color: #f6f8f9;
      font-size: 16px;
      width: 200px;
      height: 50px;
      letter-spacing: 0;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }
}

.Data_Driven {
  margin-top: 70px;
  padding-bottom: 30px;
  h2 {
    text-align: center;
    color: #26A69A;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
  h5 {
    font-size: 20px;
    text-align: center;
  }
  .Data {
    text-align: center;
    margin-bottom: 20px;
    .data-circle {
      display: inline-block;
      .circle-size {
        width: 154px;
        height: 154px;
      }
    }
    .data-text {
      margin-top: 20px;
      h2 {
        font-size: 20px;
        color: #000;
        text-align: center;
      }
    }
    .data-value {
      h3 {
        font-size: 18px;
        color: #000;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .Manual_section .manual .BTN .btn_1 {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .slider-section {
    padding-top: 90px;
  }
}

@media screen and (max-width: 1199px) {
  .slider-section .carousel-inner 
  .carousel-caption {
    bottom: 25%;
    .side-text {
      max-width: 57%;
    }
  }
  .Templates_section {
    margin-top: 60px;
    .sub_section {
      .section1 {
        h4 {
          font-size: 17px;
        }
      }
      .section2 {
        h4 {
          font-size: 17px;
        }
      }
      .section3 {
        h4 {
          font-size: 17px;
        }
      }
    }
  }
  .Manual_section {
    margin-top: 60px;
    .manual {
      .BTN .btn_1 {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .slider-section .carousel-inner 
  .carousel-caption {
    bottom: 15%;
    .side-text {
      h2 {
        font-size: 26px;
      }
      h1 {
        font-size: 48px;
        line-height: normal;
        margin: 10px 0;
      }
      .slider-btn {
        font-size: 16px;
      }
    }
    .video-link {
      padding-right: 30px;
    }
  }
  .section-1 {
    .discover_section {
      .text-left{
        padding: 17px 0 17px 40px;
        line-height: 1.5rem;
      }
      .text-right {
        padding: 17px 40px 17px 0px;
      }
      .btn_1 {
        margin-right: 15px;
      }
    }
  }
  .Templates_section {
    .sub_section {
      .section1 {
        h4 {
          font-size: 17px;
        }
        .section1_1 {
          .mg{
            font-size: 13px;
          }
        }
      }
      .section2 {
        h4 {
          font-size: 17px;
        }
      }
      .section3 {
        h4 {
          font-size: 17px;
        }
        .section3_3 {
          .mg {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slider-section .carousel-inner 
  .carousel-caption {
    bottom: 20%;
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 0px;
      padding-right: 0px;
    }
    .side-text {
      max-width: 100% !important;
      h2 {
        font-size: 22px;
      }
      h1 {
        font-size: 34px;
      }
      .slider-btn {
        font-size: 14px;
        padding: 7px 30px;
      }
      .none {
        display: none;
      }
    }
    .video-link {
      position: static;
      transform: none;
      float: none;
      padding: 0;
      max-width: 100%;
      width: 100%;
      a {
        img {
          max-height: 190px;
          margin: 0;
        }
      }
    }
  }
  .chng {
    bottom: 15% !important;
  }
  .section-1 {
    .container {
      max-width: 100%;
      margin: 0px;
      padding: 0px;
    }
    .discover_section {
      .row {
        margin: 0px;
      }
    }
  }
  .section-2 {
    .DAES_section {
      .section2 {
        text-align: center;
        margin-top: 20px;
        h5 {
          text-align: center;
        }
        .col-sm-12 {
          margin-top: 30px;
        }
      }
    }
  }
  .Templates_section {
    .sub_section {
      .section1 {
        max-width: 100%;
        h4 {
          font-size: 18px;
        }
        hr {
          width: 65px;
        }
        .section1_1 {
          margin: 50px 40px 0px 40px;
          .mg {
            font-size: 18px;
          }
        }
      }
      .section2 {
        margin-left: -15px;
        margin-top: 50px;
        max-width: 100%;
        h4 {
          font-size: 18px;
        }
        hr {
          width: 57px;
        }
      }
      .section3 {
        margin-left: -15px;
        margin-top: 50px;
        max-width: 100%;
        h4 {
          font-size: 18px;
        }
        hr {
          width: 58px;
        }
        .section3_3 {
          margin: 50px 40px 0px 40px;
          .mg {
            font-size: 18px;
          }
        }
      }
    }
  }
  .Manual_section {
    .manual {
      .BTN {
        margin-top: 30px;
        margin-bottom: 50px;
        .btn_1 {
          margin-right: 20px;
          margin-bottom: 0px;
        }
      }
    }
    .Top {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 685px) {
  .slider-section .carousel-inner {
    img {
      height: 300px;
    }
    .carousel-caption {
      bottom: 15%;
      left: 1%;
      .side-text {
        h2 {
          font-size: 14px;
        }
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
      .video-link {
        a {
          img {
            max-height: 150px;
          }
        }
      }
    }
    .chng {
      bottom: 10% !important;
    }
  }
  .section-1 {
    .discover_section {
      .text-left{
        padding: 17px 0 17px 25px;
      }
      .text-right {
        padding: 17px 10px 17px 0px;
      }
      .btn_1 {
        margin-right: 15px;
      }
      .btn_2{
        margin-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .slider-section .carousel-inner {
    img {
      height: 250px;
    }
    .carousel-caption {
      left: 5%;
      right: 5%;
  }
}
  .section-1 {
    .discover_section {
      .btn_1 {
        margin-right: 15px;
      }
      .btn_2{
        margin-right: 15px;
      }
    }
  }
  .Templates_section {
    .sub_section {
      .section1 {
        margin-left: 2px;
        hr {
          width: 65px;
        }
      }
      .section2 {
        margin-left: 0px;
        hr {
          width: 57px;
        }
      }
      .section3 {
        margin-left: 0px;
        h4 {
          text-transform: uppercase;
          font-size: 18px;
        }
        hr {
          width: 58px;
        }
      }
    }
  }
}

@media screen and (max-width: 529px) {
  .Manual_section {
    .manual .BTN .btn_1 {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .section-1 {
    .discover_section {
      .text-left{
        padding: 17px 0 17px 15px;
      }
      .text-right {
        padding: 17px 5px 17px 0px;
      }
    }
  }
}