.main_header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 999999999999;
}
  
.navbar {
  background: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid hsla(0,0%,100%,.5);
  // box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 10px 10px #00000029;
  // transition: all .7s;
  padding: 20px 10px 30px 10px;
}
  
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
  
.logo_image {
  // margin-left: 100px;
  margin-top: 10px;
}
  
.navbar-logo img {
  width: 300px;
  height: 150px;
  padding: 5px;
}

.search {
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 30px;
  img {
    width: 90px;
    height: auto;
  }
}
  
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
  
.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 100px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  // margin-bottom: 30px;
}
  
.nav-item {
  height: 80px;
}
  
.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 160px;
  padding-bottom: 30px;
  // padding-left: 1.3rem;
  font-weight: 600;
  font-size: 35px;
  line-height: 32px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  cursor: pointer;
}

.bor {
  border-bottom: #f05922 solid 10px;
  padding-top: 10px;
}
  
.nav-links:hover {
  color: #000;
  // transition: all 0.2s ease-out;
  text-decoration: none;
}

.fa-angle-down {
  padding-left: 15px;
}
  
.btn {
  font-size: 35px;
  background: #db422d;
  border-radius: 10px;
  color: #f6f8f9;
  width: 300px;
  height: 90px;
  letter-spacing: 0;
  line-height: 80px;
  &:hover {
    color: #f6f8f9;
  }
  &:focus {
    box-shadow: none;
  }
}
  
.fa-bars {
  color: #000;
}
  
.menu-icon {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
}
.nav-item {
  .active {
    display: block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: auto;
    box-shadow: 0px 8px 16px 0px #00000029;
    padding: 15px 30px;
    z-index: 1;
    margin-top: 15px;
    margin-left: -110px;
    h3 {
      font-size: 35px;
      font-weight: 600;
      text-align: left;
      padding: 30px 0px 30px 10px;
      color: #575962;
      cursor: pointer;
      // border-bottom: 4px solid rgba(0,0,0,.1);
      &:hover {
        background: #E9F6F5;
        color: #26A59A;
        border-radius: 5px;
      }
    }
    a {
      &:hover {
        text-decoration: none;      
      }
    }
    hr {
      border-top: 4px solid rgba(0,0,0,.1);
    }
  }
  .active-two {
    width: 550px;
    margin-left: -125px;
  }
  .active-three {
    width: 600px;
    margin-left: -85px;
  }
  .active-four {
    width: 600px;
    margin-left: -110px;
  }
  .active-five {
    width: 570px;
    margin-left: -105px;
  }
}

@media screen and (max-width: 3500px) {
  .nav-menu {
    grid-gap: 80px;
  }
}

@media screen and (max-width: 3300px) {
  .nav-links {
    font-size: 33px;
  }
  .btn {
    font-size: 33px;
    width: 270px;
    height: 80px;
    line-height: 70px;
  }
  .active h3 {
    font-size: 33px;
    padding: 28px 0px 28px 10px;
  }
  .active-three {
    margin-left: -95px;
  }
  .active-four {
    margin-left: -120px;
  }
  .active-five {
    margin-left: -115px;
  }
}

@media screen and (max-width: 3150px) {
  .nav-menu {
    grid-gap: 70px;
  }
  .nav-links {
    font-size: 32px;
  }
  .btn {
    font-size: 32px;
    width: 250px;
    line-height: 60px;
  }
  .nav-item {
    .active {
      margin-left: -120px;
      h3 {
        font-size: 32px;
        padding: 27px 0px 27px 10px;
      }
    }
    .active-two {
      margin-left: -135px;
    }
    .active-three {
      margin-left: -100px;
    }
    .active-four {
      margin-left: -120px;
    }
    .active-five {
      margin-left: -115px;
    }
  }
}

@media screen and (max-width: 3000px) {
  .nav-menu {
    grid-gap: 60px;
  }
  .nav-links {
    font-size: 30px;
  }
  .btn {
    font-size: 30px;
    width: 200px;
    height: 75px;
    line-height: 50px;
  }
  .nav-item {
    .active {
      margin-left: -125px;
      h3 {
        font-size: 30px;
        padding: 25px 0px 25px 10px;
      }
    }
    .active-two {
      width: 500px;
      margin-left: -120px;
    }
    .active-three {
      width: 550px;
      margin-left: -95px;
    }
    .active-four {
      width: 550px;
      margin-left: -110px;
    }
    .active-five {
      width: 500px;
      margin-left: -100px;
    }
  }
}

@media screen and (max-width: 2700px) {
  .nav-menu {
    grid-gap: 50px;
  }
  .nav-links {
    font-size: 29px;
  }
  .btn {
    font-size: 29px;
    width: 180px;
    height: 70px;
  }
  .nav-item {
    .active {
      margin-left: -110px;
      width: 450px;
      h3 {
        font-size: 29px;
        padding: 24px 0px 24px 10px;
      }
    }
    .active-two {
      width: 450px;
      margin-left: -100px;
    }
    .active-three {
      width: 500px;
      margin-left: -70px;
    }
    .active-four {
      width: 520px;
      margin-left: -100px;
    }
    .active-five {
      width: 480px;
      margin-left: -90px;
    }
  }
}

@media screen and (max-width: 2560px) {
  .navbar {
    padding: 20px 30px 30px 30px;
  }
  .navbar-logo img {
    width: 250px;
    height: 130px;
    padding: 5px;
  }
  .search img {
    width: 75px;
    height: auto;
  }
  .fa-angle-down {
    padding-left: 10px;
  }
  .nav-links {
    font-size: 25px;
    height: 150px;
  }
  .btn {
    font-size: 25px;
    width: 160px;
    height: 60px;
    line-height: 40px;
  }
  .nav-item {
    .active {
      margin-left: -100px;
      width: 400px;
      margin-top: 10px;
      h3 {
        font-size: 25px;
        padding: 20px 0px 20px 10px;
      }
    }
    .active-two {
      width: 400px;
      margin-left: -90px;
    }
    .active-three {
      width: 450px;
      margin-left: -70px;
    }
    .active-four {
      width: 470px;
      margin-left: -100px;
    }
    .active-five {
      width: 420px;
      margin-left: -85px;
    }
  }
}

@media screen and (max-width: 2300px) {
  .nav-menu {
    grid-gap: 40px;
  }
  .nav-links {
    font-size: 23px;
  }
  .btn {
    font-size: 23px;
    width: 150px;
    height: 50px;
    line-height: 30px;
  }
  .nav-item {
    .active {
      margin-left: -85px;
      width: 350px;
      h3 {
        font-size: 23px;
        padding: 18px 0px 18px 10px;
      }
    }
    .active-two {
      width: 370px;
      margin-left: -90px;
    }
    .active-three {
      width: 420px;
      margin-left: -70px;
    }
    .active-four {
      width: 420px;
      margin-left: -85px;
    }
    .active-five {
      width: 400px;
      margin-left: -80px;
    }
  }
}

@media screen and (max-width: 2100px) {
  .nav-links {
    font-size: 20px;
  }
  .btn {
    font-size: 20px;
    width: 120px;
    height: 45px;
    line-height: 25px;
  }
  .nav-item {
    .active {
      margin-left: -70px;
      width: 300px;
      h3 {
        font-size: 20px;
        padding: 15px 0px 15px 10px;
      }
    }
    .active-two {
      width: 330px;
      margin-left: -80px;
    }
    .active-three {
      width: 370px;
      margin-left: -60px;
    }
    .active-four {
      width: 370px;
      margin-left: -75px;
    }
    .active-five {
      width: 350px;
      margin-left: -70px;
    }
  }
}

@media screen and (max-width: 1920px) {
  .navbar {
    padding: 10px 0px 12px 0px;
    box-shadow: 0px 3px 6px #00000029;
  }
  .navbar-container {
    max-width: 1600px;
  }
  .logo_image {
    margin-top: 0px;
  }
  .navbar-logo img {
    width: 150px;
    height: 70px;
    padding: 0px;
  }
  .search img {
    width: 40px;
    height: auto;
  }
  .search {
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .fa-angle-down {
    padding-left: 7px;
  }
  .nav-links {
    font-size: 16px;
    height: 80px;
    margin-top: 30px;
  }
  .bor {
    border-bottom: #f05922 solid 5px;
    padding-top: 5px;
  }
  .btn {
    border-radius: 6px;
    font-size: 16px;
    width: 126px;
    height: 40px;
    line-height: 25px;
  }
  .nav-item {
    .active {
      border-radius: 5px;
      margin-left: -60px;
      margin-top: 5px;
      width: 250px;
      padding: 15px 20px;
      h3 {
        font-size: 16px;
        padding: 10px 0px 10px 5px;
      }
      hr {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }
    }
    .active-two {
      width: 280px;
      margin-left: -70px;
    }
    .active-three {
      width: 300px;
      margin-left: -50px;
    }
    .active-four {
      width: 320px;
      margin-left: -70px;
    }
    .active-five {
      width: 300px;
      margin-left: -65px;
    }
  }
}

@media screen and (max-width: 1600px) {
.nav-menu {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1500px) {
  .nav-links {
    font-size: 15px;
  }
  .btn {
    width: 110px;
    height: 37px;
    line-height: 20px;
    font-size: 15px;
  }
  .nav-item {
    .active {
      h3 {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .navbar {
    padding: 10px 0px 12px 0px;
  }
  .navbar-container {
    max-width: 1300px;
  }
  .logo_image {
    margin-top: 0px;
  }
  .navbar-logo img {
    width: 130px;
    height: 60px;
    padding: 0px;
  }
  .search img {
    width: 40px;
    height: auto;
  }
  .search {
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .fa-angle-down {
    padding-left: 5px;
  }
  .nav-links {
    font-size: 13px;
    height: 80px;
    margin-top: 30px;
  }
  .btn {
    border-radius: 6px;
    font-size: 13px;
    width: 100px;
    height: 35px;
    line-height: 20px;
  }
  
  .nav-item {
    .active {
      border-radius: 5px;
      margin-left: -50px;
      margin-top: 5px;
      width: 200px;
      padding: 10px 15px;
      h3 {
        font-size: 13px;
        padding: 10px 0px 10px 5px;
      }
    }
    .active-two {
      width: 220px;
      margin-left: -50px;
    }
    .active-three {
      width: 240px;
      margin-left: -40px;
    }
    .active-four {
      width: 240px;
      margin-left: -50px;
    }
    .active-five {
      width: 230px;
      margin-left: -50px;
    }
  }
}
  
  @media screen and (max-width: 1100px) {
    .navbar {
      background: #fff;
      padding: 10px 0px 20px 0px;
    }

    .navbar-logo img {
      width: 142px;
      height: 66px;
      padding: 0px;
    }

    .search {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 20px;
    }
  
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      background: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 90px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      grid-gap: 0;
    }
  
    .nav-menu.active-nav {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding: 10px 0px; 
      // box-shadow: 0px 8px 16px 0px #00000029;
      box-shadow: 0px 8px 16px -15px #111;
    }
  
    .nav-item {
      height: 40px;
    }
  
    .nav-links {
      text-align: center;
      padding: 0;
      width: 100%;
      display: table;
      font-weight: 500;
      margin-top: 0px;
      height: 0px;
    }

    .fa-angle-down {
      padding-left: 3px;
    } 
  
    .navbar-logo {
      position: absolute;
      margin-left: 0;
      top: -20px;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 40px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #000;
      font-size: 2rem;
    }

    .login_btn {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 960px) {
    .navbar {
      background: white;
    }
  
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      background: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 100px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-item {
      height: 40px;
    }
  
    .nav-links {
      color: #4a4848;
      text-align: center;
      padding: 0;
      width: 100%;
      display: table;
    }
  
    // .nav-links:hover {
    //   color: green;
    //   border-radius: 0;
    // }
  
    .navbar-logo {
      position: absolute;
      margin-left: 0;
      top: -10;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 40px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #000;
      font-size: 2rem;
    }
  
    .login_btn {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar-logo img {
      margin-left: -10%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .navbar-logo img {
      margin-left: -15%;
    }
  }
  