.main_header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 9999;
}
  
.navbar {
  background: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid hsla(0,0%,100%,.5);
  box-shadow: 0px 10px 10px #00000029;
  padding: 5px 10px 20px 10px;
}
  
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
  
.navbar-container .logo_image {
  margin-top: 10px;
}
  
.navbar-container .navbar-logo img {
  width: 300px;
  height: 150px;
  padding: 5px;
}

.navbar-container .search {
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 30px;
  img {
    width: 90px;
    height: auto;
  }
}
  
.navbar-container .fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
  
.navbar-container .nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 100px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
}

.navbar-container .nav-menu-new {
  grid-template-columns: repeat(7, auto);
}
  
.navbar-container .nav-item {
  height: 80px;
}
  
.navbar-container .nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 150px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 35px;
  line-height: 32px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  cursor: pointer;
  .user-image {
    margin-right: 5px;
    height: 52px !important;
    width: 52px !important;
    padding: 1px;
    border-radius: 6px;
  }
}

.navbar-container .bor {
  border-bottom: #f05922 solid 10px;
  padding-top: 10px;
}
  
.navbar-container .nav-links:hover {
  color: #000;
  text-decoration: none;
}

.navbar-container .fa-angle-down {
  padding-left: 15px;
}
  
.navbar-container .nav-item {
  .btn {
    font-size: 35px;
    background: #db422d;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    height: 90px;
    letter-spacing: 0;
    line-height: 80px;
    &:hover {
      background: #38ADA2;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
  
.navbar-container .fa-bars {
  color: #000;
}
  
.navbar-container .menu-icon {
  display: none;
}

.navbar-container .dropdown-content {
  display: none;
  position: absolute;
}
.navbar-container .nav-item {
  .active {
    display: block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: auto;
    box-shadow: 0px 8px 16px 0px #00000029;
    padding: 15px 30px;
    z-index: 1;
    margin-top: 15px;
    margin-left: -110px;
    .h1 {
      font-size: 35px;
      color: #000;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
      padding: 10px 0px 5px 5px;
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .h5 {
      font-size: 30px;
      font-weight: 500;
      text-align: left;
      padding: 0px 0px 10px 5px;
    }
    .Active {
      color: #38ADA2;
    }
    .Trial {
      color: #38ADA2;
    }
    .Paused {
      color: #E8C900;
    }
    .PausedDueToPaymentFailure {
      color: #E8C900;
    }
    .PendingCancellation {
      color: #E8C900;
    }
    .Cancelled {
      color: #DB422D;
    }
    .CancellationPending {
      color: #DB422D;
    }
    .h3 {
      font-size: 35px;
      font-weight: 600;
      text-align: left;
      padding: 30px 0px 30px 10px;
      color: #575962;
      cursor: pointer;
      &:hover {
        background: #E9F6F5;
        color: #26A59A;
        border-radius: 5px;
      }
    }
    a {
      &:hover {
        text-decoration: none;      
      }
    }
    hr {
      border-top: 4px solid rgba(0,0,0,.1);
    }
  }
  .active-two {
    width: 550px;
    margin-left: -125px;
  }
  .active-three {
    width: 650px;
    margin-left: -110px;
  }
  .active-four {
    width: 680px;
    margin-left: -160px;
  }
  .active-five {
    width: 570px;
    margin-left: -105px;
  }
}

.navbar-container .main-navigation .onepress-menu {
  width: 100% !important;
  display: none;
}

@media screen and (max-width: 3500px) {
  .navbar-container .nav-menu {
    grid-gap: 80px;
  }
}

@media screen and (max-width: 3300px) {
  .navbar-container .nav-links {
    font-size: 33px;
  }
  .navbar-container .nav-item {
    .btn {
      font-size: 33px;
      width: 270px;
      height: 80px;
      line-height: 70px;
    }
    .active .h3 {
      font-size: 33px;
      padding: 28px 0px 28px 10px;
    }
    .active-three {
      margin-left: -95px;
    }
    .active-four {
      margin-left: -160px;
    }
    .active-five {
      margin-left: -115px;
    }
  }
}

@media screen and (max-width: 3150px) {
  .navbar-container .nav-menu {
    grid-gap: 65px;
  }
  .navbar-container .nav-links {
    font-size: 32px;
  }
  .navbar-container .nav-item {
    .active {
      margin-left: -140px;
      .h3 {
        font-size: 32px;
        padding: 27px 0px 27px 10px;
      }
    }
    .active-two {
      margin-left: -135px;
    }
    .active-three {
      margin-left: -100px;
    }
    .active-four {
      margin-left: -160px;
    }
    .active-five {
      margin-left: -115px;
    }
    .btn {
      font-size: 32px;
      width: 250px;
      line-height: 60px;
    }
  }
}

@media screen and (max-width: 3000px) {
  .navbar-container .nav-menu {
    grid-gap: 60px;
  }
  .navbar-container .nav-links {
    font-size: 30px;
  }
  .navbar-container .nav-item {
    .active {
      margin-left: -130px;
      .h3 {
        font-size: 30px;
        padding: 25px 0px 25px 10px;
      }
    }
    .active-two {
      width: 500px;
      margin-left: -120px;
    }
    .active-three {
      width: 550px;
      margin-left: -95px;
    }
    .active-four {
      width: 590px;
      margin-left: -135px;
    }
    .active-five {
      width: 500px;
      margin-left: -100px;
    }
    .btn {
      font-size: 30px;
      width: 200px;
      height: 75px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 2700px) {
  .navbar-container .nav-menu {
    grid-gap: 50px;
  }
  .navbar-container .nav-links {
    font-size: 29px;
  }
  .navbar-container .nav-item {
    .active {
      margin-left: -110px;
      width: 450px;
      .h3 {
        font-size: 29px;
        padding: 24px 0px 24px 10px;
      }
    }
    .active-two {
      width: 450px;
      margin-left: -100px;
    }
    .active-three {
      width: 500px;
      margin-left: -70px;
    }
    .active-four {
      width: 590px;
      margin-left: -135px;
    }
    .active-five {
      width: 480px;
      margin-left: -90px;
    }
    .btn {
      font-size: 29px;
      width: 180px;
      height: 70px;
    }
  }
}

@media screen and (max-width: 2560px) {
  .navbar {
    padding: 5px 50px 15px 30px;
  }
  .navbar-container .navbar-logo img {
    width: 250px;
    height: 130px;
    padding: 5px;
  }
  .navbar-container .search img {
    width: 75px;
    height: auto;
  }
  .navbar-container .fa-angle-down {
    padding-left: 10px;
  }
  .navbar-container .nav-links {
    font-size: 25px;
    height: 135px;
  }
  .navbar-container .nav-item {
    .active {
      width: 400px;
      margin-top: 10px;
      .h1 {
        font-size: 30px;
      }
      .h5 {
        font-size: 25px;
      }
      .h3 {
        font-size: 25px;
        padding: 20px 0px 20px 10px;
      }
    }
    .ac-15 {
      margin-left: 0px;
    }
    .ac-14-10 {
      margin-left: -50px;
    }
    .ac-9-5 {
      margin-left: -125px;
    }
    .ac-4-1 {
      margin-left: -185px;
    }
    .active-two {
      width: 400px;
      margin-left: -90px;
    }
    .active-three {
      width: 450px;
      margin-left: -70px;
    }
    .active-four {
      width: 510px;
      margin-left: -120px;
    }
    .active-five {
      width: 450px;
      margin-left: -95px;
    }
    .btn {
      font-size: 25px;
      width: 160px;
      height: 60px;
      line-height: 40px;
    }
  }
}

@media screen and (max-width: 2300px) {
  .navbar-container .nav-menu {
    grid-gap: 40px;
  }
  .navbar-container .nav-links {
    font-size: 23px;
  }
  .navbar-container .nav-item {
    .active {
      width: 350px;
      .h3 {
        font-size: 23px;
        padding: 18px 0px 18px 10px;
      }
    }
    .active-two {
      width: 370px;
      margin-left: -90px;
    }
    .active-three {
      width: 420px;
      margin-left: -70px;
    }
    .active-four {
      width: 510px;
      margin-left: -120px;
    }
    .active-five {
      width: 400px;
      margin-left: -80px;
    }
    .btn {
      font-size: 23px;
      width: 150px;
      height: 50px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 2100px) {
  .navbar-container .nav-links {
    font-size: 20px;
  }
  .navbar-container .nav-item {
    .active {
      width: 300px;
      .h3 {
        font-size: 20px;
        padding: 15px 0px 15px 10px;
      }
    }
    .active-two {
      width: 330px;
      margin-left: -80px;
    }
    .active-three {
      width: 370px;
      margin-left: -60px;
    }
    .active-four {
      width: 420px;
      margin-left: -100px;
    }
    .active-five {
      width: 350px;
      margin-left: -70px;
    }
    .btn {
      font-size: 20px;
      width: 120px;
      height: 45px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 1920px) {
  .navbar {
    padding: 0px;
    box-shadow: 0px 3px 6px #00000029;
  }
  .navbar-container {
    max-width: 1800px;
  }
  .navbar-container .logo_image {
    margin-top: 0px;
  }
  .navbar-container .navbar-logo img {
    width: 150px;
    height: 70px;
    padding: 0px;
  }
  .navbar-container .search img {
    width: 40px;
    height: auto;
  }
  .navbar-container .search {
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .navbar-container .fa-angle-down {
    padding-left: 7px;
  }
  .navbar-container .nav-links {
    font-size: 16px;
    height: 67px;
    margin-top: 30px;
  }
  .navbar-container .bor {
    border-bottom: #f05922 solid 5px;
    padding-top: 5px;
  }
  .navbar-container .nav-item {
    .active {
      border-radius: 5px;
      margin-top: 5px;
      width: 250px;
      padding: 15px 20px;
      .h1 {
        font-size: 18px;
      }
      .h5 {
        font-size: 16px;
      }
      .h3 {
        font-size: 16px;
        padding: 10px 0px 10px 5px;
      }
      hr {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }
    }
    .ac-15 {
      margin-left: 0px;
    }
    .ac-14-10 {
      margin-left: 0px;
    }
    .ac-9-5 {
      margin-left: -45px;
    }
    .ac-4-1 {
      margin-left: -90px;
    }
    .active-two {
      width: 280px;
      margin-left: -70px;
    }
    .active-three {
      width: 310px;
      margin-left: -60px;
    }
    .active-four {
      width: 320px;
      margin-left: -70px;
    }
    .active-five {
      width: 300px;
      margin-left: -65px;
    }
    .btn {
      border-radius: 6px;
      font-size: 16px;
      width: 126px;
      height: 40px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .navbar-container .nav-menu {
    grid-gap: 30px;
  }
  .navbar-container .nav-links {
    font-size: 14px;
  }
  .navbar-container .nav-item {
    .ac-15 {
      margin-left: 0px;
    }
    .ac-14-10 {
      margin-left: -10px;
    }
    .ac-9-5 {
      margin-left: -90px;
    }
    .ac-4-1 {
      margin-left: -115px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .navbar-container .nav-menu {
    grid-gap: 20px;
  }
  .navbar-container .nav-item {
    .active {
      .h3 {
        font-size: 15px;
      }
    }
    .btn {
      width: 110px;
      height: 37px;
      line-height: 20px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .navbar-container .nav-item {
    .ac-15 {
      margin-left: 0px;
    }
    .ac-14-10 {
      margin-left: -50px;
    }
    .ac-9-5 {
      margin-left: -95px;
    }
    .ac-4-1 {
      margin-left: -125px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .navbar {
    padding: 0px;
  }
  .navbar-container {
    max-width: 1300px;
  }
  .navbar-container .logo_image {
    margin-top: 0px;
  }
  .navbar-container .navbar-logo img {
    width: 130px;
    height: 60px;
    padding: 0px;
  }
  .navbar-container .search {
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .navbar-container .fa-angle-down {
    padding-left: 5px;
  }
  .navbar-container .nav-links {
    font-size: 13px;
    height: 67px;
    margin-top: 30px;
  }
  .navbar-container .nav-item {
    .active {
      border-radius: 5px;
      margin-top: 5px;
      width: 200px;
      padding: 10px 10px;
      .h1 {
        font-size: 16px;
      }
      .h5 {
        font-size: 13px;
      }
      .h3 {
        font-size: 13px;
        padding: 10px 0px 10px 5px;
      }
    }
    .ac-15 {
      margin-left: 0px;
    }
    .ac-14-10 {
      margin-left: -5px;
    }
    .ac-9-5 {
      margin-left: -50px;
    }
    .ac-4-1 {
      margin-left: -75px;
    }
    .active-two {
      width: 220px;
      margin-left: -55px;
    }
    .active-three {
      width: 250px;
      margin-left: -45px;
    }
    .active-four {
      width: 270px;
      margin-left: -65px;
    }
    .active-five {
      width: 230px;
      margin-left: -50px;
    }
    .btn {
      border-radius: 6px;
      font-size: 13px;
      width: 100px;
      height: 35px;
      line-height: 21px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .navbar-container .nav-menu {
    grid-gap: 14px;
  }
  .navbar-container .nav-item {
    .ac-15 {
      margin-left: 0px;
    }
    .ac-14-10 {
      margin-left: -5px;
    }
    .ac-9-5 {
      margin-left: -55px;
    }
    .ac-4-1 {
      margin-left: -85px;
    }
  }
}
  
@media screen and (max-width: 1220px) {
  .navbar {
    background: #fff;
    padding: 0px 0px 17px 0px;
  }
  .navbar-container {
    justify-content: initial;
    align-items: initial;
    .search {
      margin-left: 140px;
      margin-right: 0px;
      margin-top: 20px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .navbar-container .navbar-logo {
    position: absolute;
    margin-left: -10px;
    top: -25px;
    left: 0;
    transform: translate(25%, 47%);
  }
  .navbar-container .navbar-logo img {
    width: 100px;
    height: 60px;
    padding: 0px;
  }
  .navbar-container .nav-menu {
    display: none;
  }
  .navbar-container .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    margin-bottom: 50px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    img {
      max-width: 100%;
      width: 30px;
      height: 30px;
    }
  }
  .navbar-container .main-navigation {
    .onepress-menu {
      margin: 0;
      padding: 0;
      list-style: none
    }
    .onepress-menu.onepress-menu-mobile > li > a {
      padding-right: 6px !important;
      display: block;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .onepress-menu.onepress-menu-mobile > li > span {
      padding-right: 6px !important;
      display: block;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .onepress-menu.onepress-menu-mobile a {
      color: #777777;
      display: inline-block;
      vertical-align: middle;
      border: none;
    }
    .onepress-menu.onepress-menu-mobile span {
      color: #777777;
      display: inline-block;
      vertical-align: middle;
      border: none;
    }
    .onepress-menu-mobile {
      display: block !important;
      position: fixed;
      top: 70px;
      right: 0;
      width: 250px !important;
      background: #fff;
      z-index: 100;
      border: 1px solid #e9e9e9;
      z-index: 9999999;
      box-shadow: none;
      padding: 10px;
      margin-top: 0;
      height: calc(100% - 75px) !important;
      float: none !important;
      clear: both;
      text-align: right;
      .visible-mobile {
        display: block;
        float: none !important;
        clear: both !important;
      }
      .other-page-menu {
        position: relative;
        right: 0;
        margin: 0px;
        top: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        a {
          padding-right: 6px;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          text-decoration: none;
          .header_thumbnail {
            width: 40px!important;
            height: 40px!important;
            padding: 1px;
            border-radius: 6px;
          }
        }
        .btn {
          font-size: 16px;
          background: #db422d;
          border-radius: 6px;
          color: #fff;
          width: 126px;
          height: 40px;
          letter-spacing: 0;
          line-height: 25px;
          &:hover {
            background: #38ADA2;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .user_dropdown_link {
          font-size: 16px;
          font-weight: 400;
          color: #777777;
          position: relative;
          padding-bottom: 20px;
        }
        .user_dropdown {
          position: relative;
          display: block;
          right: 0;
          min-width: 100%;
          border: none;
          top: 0;
          width: 100%;
          border-bottom: 1px solid #000;
          border-right: none;
          border-right: 0 !important;
          p {
            color: #777777;
            font-weight: 400;
            font-size: 16px;
            display: block;
            margin-bottom: 0;
            padding: 6px 0px 6px 10px;
            a {
              color: #777777;
              padding-right: 0px;
              padding-top: 0px !important;
              padding-bottom: 0px !important;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .Active {
            color: #38ADA2;
          }
          .Trial {
            color: #38ADA2;
          }
          .Paused {
            color: #E8C900;
          }
          .PausedDueToPaymentFailure {
            color: #E8C900;
          }
          .PendingCancellation {
            color: #E8C900;
          }
          .Cancelled {
            color: #DB422D;
          }
          .CancellationPending {
            color: #DB422D;
          }
          li {
            line-height: inherit !important;
            background: #FFFFFF;
            border-top: 1px solid #e9e9e9;
            width: 100% !important;
            color: #777777;
            a {
              width: 100%;
              letter-spacing: 1px;
            }
          }
        }
      }
      li {
        line-height: inherit !important;
        background: #FFFFFF;
        border-top: 1px solid #e9e9e9;
        width: 100% !important;
        font-size: 14px;
        font-weight: 600;
        .fa-angle-down {
          padding-left: 10px;
        }
        a {
          color: #777777;
          vertical-align: middle;
          border: none;
          text-decoration: none;
          &:hover {
            color: #000;
          }
        }
        span {
          color: #777777;
          vertical-align: middle;
          border: none;
          text-decoration: none;
          &:hover {
            color: #000;
          }
        }
        .sub-menu {
          display: block;
          box-shadow: none;
          padding-bottom: 0;
          border: none;
          position: relative;
          li  {
            list-style: none;
            font-size: 13px;
            a {
              display: block;
              width: 100%;
              height: 100%;
              border-top: none;
              color: #26A69A !important;
            }
            span {
              display: block;
              width: 100%;
              height: 100%;
              border-top: none;
              color: #26A69A !important;
            }
          }
        }
        .no-display {
          display: none;
        }
      }
    }
  }
}